[2019-07-06 17:08] #94 closed

[2019-07-06 17:09] phil-opp commented on #167
Closing, since this doesn't affect the second edition.

[2019-07-06 17:09] #167 closed

[2019-07-06 17:09] phil-opp commented on #226
Closing since this doesn't affect the second edition of the blog.

[2019-07-06 17:09] #226 closed

[2019-07-06 17:16] phil-opp commented on #241
Closing, since this was specific to the first edition.

[2019-07-06 17:16] #241 closed

[2019-07-06 17:20] phil-opp commented on #243
I think it's better to stick to standard tools than to recommend installing a third-party pyhon package.

[2019-07-06 17:20] #243 closed

[2019-07-06 17:20] phil-opp commented on #248
Closing since this was about the first edition, which is no longer maintained.

[2019-07-06 17:20] #248 closed

[2019-07-06 17:21] phil-opp commented on #268
Closing as stale (doesn't affect the second edition).

[2019-07-06 17:21] #268 closed

[2019-07-06 17:27] phil-opp commented on #288
Closing since this seems to be resolved (and it doesn't affect the second edition anyway).

[2019-07-06 17:27] #288 closed

[2019-07-06 17:28] phil-opp commented on #293
Closing as stale. This only affects the first edition, which is no longer maintained.

[2019-07-06 17:28] #293 closed

[2019-07-06 17:29] phil-opp commented on #295
Closing as stale. Also, this seems to be answered.

[2019-07-06 17:29] #295 closed

[2019-07-06 17:29] phil-opp commented on #309
Closing since it only affects the first edition, which is no longer maintained.

[2019-07-06 17:29] #309 closed

[2019-07-06 17:31] phil-opp commented on #327
Closing as stale (it's about the no longer maintained first edition).

[2019-07-06 17:31] #327 closed

[2019-07-06 17:35] phil-opp opened #636 "Fix dead links"
https://www.deadlinkchecker.com reports the following dead links:

<table><tbody><tr><th width="10%">Error</th><th width="45%">URL</th><th width="15%">Anchor Text</th><th width="30%">Linked From</th></tr>
<tr><td><a href="http://www.deadlinkchecker.com/error-codes.asp?e=404" target="_blank" title="404:Not Found
The resource could not be found on the server. May be caused by misspelling a URI, or r

[2019-07-06 17:36] phil-opp commented on #327
Closing as stale. I created a new dead link issue at https://github.com/phil-opp/blog_os/issues/636

[2019-07-06 23:31] utterances-bot opened #637 "Comments for "https://os.phil-opp.com/status-update/2019-06-04/""
This is a general purpose comment thread for the [**Updates in June 2019**](https://os.phil-opp.com/status-update/2019-06-04/) post.

[2019-07-06 23:31] cheako commented on #637
https://youtu.be/jvr-oyYbSmc. Can it run on only 64mb?

[2019-07-07 07:07] bjorn3 commented on #637
Yes, this OS is x86_64 only

[2019-07-07 08:45] phil-opp commented on #636
After #638, the new report looks like this:

Error | URL | Anchor Text | Linked From
-- | -- | -- | --
404  Not Found | https://doc.rust-lang.org/alloc/collections/string/struct.String.html | String | https://os.phil-opp.com/heap-allocation/
404  Not Found | https://crates.io/crates/bootloader | bootloader | https://os.phil-opp.com/minimal-rust-kernel/
404  Not Found | https://crates.io/crates/spi

[2019-07-07 09:03] phil-opp commented on #636
Remaining dead links fixed in 729447122320a52cdc0a6a0d41efb50e16daebcf

[2019-07-07 09:11] phil-opp commented on #636
New result:

Error | URL | Anchor Text | Linked From
-- | -- | -- | --
404  Not Found | https://crates.io/crates/bootloader | bootloader | https://os.phil-opp.com/minimal-rust-kernel/
404  Not Found | https://crates.io/crates/spin | spin crate | https://os.phil-opp.com/vga-text-mode/
403  Forbidden | https://news.ycombinator.com/item?id=19017995 | negative feedback | https://os.phil-opp.com/paging

[2019-07-07 09:19] phil-opp commented on #637
@cheako You mean 64 megabytes of RAM? Sure, it's a very simple system without any big memory requirements right now.

[2019-07-07 09:21] phil-opp commented on #636
Now the tools only reports false positives, so I would say this is fixed.

[2019-07-07 09:21] #636 closed

[2019-07-07 10:04] phil-opp commented on #342
Closed since it only affects the first edition, which is no longer maintained.

[2019-07-07 10:04] #342 closed

[2019-07-07 10:04] phil-opp commented on #377
Closing as it only affects the first edition, which is no longer maintained.

[2019-07-07 10:04] #377 closed

[2019-07-07 10:05] phil-opp commented on #505
Closing as stale. It only affects the first edition, which is no longer maintained.

[2019-07-07 10:05] #505 closed

[2019-07-07 10:07] phil-opp commented on #558
I think this is answered, therefore closing.

[2019-07-07 10:07] #558 closed

[2019-07-07 10:07] phil-opp commented on #560
I think this is answered, therefore closing.

[2019-07-07 10:07] #560 closed

[2019-07-08 04:02] ethindp opened #639 "Attempting to de-constrain memory module"
Right now I have the memory module as given in blog_os with some modifications (mainly heap allocation, thanks phil-opp). I am attempting to remove the constraints on the module, i.e.: right now I can't dynamically allocate pages outside of that module without an external memory mapper and frame allocator object -- which I can't (and don't want to) have to pass around my entire kernel, and its not

[2019-07-08 06:41] phil-opp commented on #639
Thanks for reporting! The problem is that the `Mapper` trait is not [object safe](http://huonw.github.io/blog/2015/01/object-safety/) because the `map_to` and `identity_map` functions are generic. I opened https://github.com/rust-osdev/x86_64/issues/80 to track this issue.

In the meantime, you should be able to directly store the `MappedPageTable` struct in the static (instead of a `&dyn Mapper`)

[2019-07-08 06:52] ethindp commented on #639
Doing that caused a hole host of issues. First the syntax wasn't valid on your statement. Then I needed to pull on alloc::boxed::Box. Then I had to change that to:
[code]
That, in turn, caused a huge number of issues, mainly:
[code]

[2019-07-08 06:54] phil-opp commented on #639
Have you tried adding `+ Send` after `Sync`?

[2019-07-08 06:59] ethindp commented on #639
Taht worked. But holy hell is this code disgusting.

[2019-07-08 07:09] phil-opp commented on #639
Perfect! Often you can directly follow the compiler errors: `Send` trait not implemented -> add a `Send` bound on the type parameter.

Just introduce a type alias for the `dyn` expression:

[code]

[2019-07-08 07:10] ethindp commented on #639
Yeah, I'll probably do that. Make a type for the entire statement type.

[2019-07-08 07:14] phil-opp commented on #639
Ok, I think we can close this issue given that it's working now?

[2019-07-08 07:37] ethindp commented on #639
Yeah, just need to fix code that I wrote to work.

[2019-07-08 09:49] ethindp commented on #639
OK, so this isn't working very well. I've defined a type for the disgusting code:
[code]
And that works:
[code]
What doesn't work is when I go to actually initialize the mapper to something that I can use. The following doesn't work:
[code]
And fails with
[code]
I can't use an as type cast, because that doesn't work with complex types. I can't just do:
[code]
Because it gives me that same blasted

[2019-07-08 10:36] phil-opp commented on #639
Your `init_mapper` has a return type of `impl MapperAllSizes`, which basically means "some type that implements the trait". For this reason, the Rust compiler doesn't know which concrete type is returned from that function.

To fix it, change the return type to your `PageTableMapper` alias:

[code]

You will need to box your `phys_to_virt` function for that.

[2019-07-08 17:17] Serentty commented on #405
This is really weird. I remember seeing a picture which showed the full range of the Greek codepage, but going back I can't see it. I thought maybe it was from the first edition and I was misremembering, but I can't see it there either. Even going back to the revision of the text that was most current when I left that comment, I can't see it. Even the Wayback Machine doesn't show it. I feel like a

[2019-07-08 18:50] ethindp commented on #639
OK, I'll try some combinations and close this issue if I get it resolved.

[2019-07-08 19:35] ethindp commented on #639
No, this isn't working. This function:
[code]
Fails with:
[code]
This is odd; I thought Option<...> implemented clone and copy traits? If I add .as_mut() to it, a different error occurs:
[code]
I've boxed the phys_to_addr function as you said:
[code]

[2019-07-08 19:42] ethindp commented on #639
Update: solved the problem, thanks to a not-so-desimilar problem over at https://www.reddit.com/r/rust/comments/bbjoqq/how_to_fix_value_used_here_after_move_error_in

[2019-07-08 20:10] phil-opp commented on #639
If you can't move take ownership of an value ("cannot move out of …"), try using a reference instead. For example by using `Some(ref mut m)` or `match (mapper, allocator)`/`match (&mut mapper, &mut allocator)` (not sure what works, I don't have the time to try it right now).

[2019-07-08 20:36] ethindp commented on #639
Neither worked. I may need to rid the code of the mutex in this instance, even though I really don't want to do that.

[2019-07-08 21:42] phil-opp commented on #639
The lock method returns a guard that derefs to a normal mutable reference, so you gain nothing by removing the mutex. Try the Option::as_mut() method

[2019-07-08 22:22] ethindp commented on #639
Changed it to:
[code]
And get:
[code]
I'm sorry if this is newbie stuff, its just incredibly confusing.

[2019-07-08 23:28] ethindp commented on #639
OK. One last issue. I'm trying to initialize the memory allocator. The problem is that my page mapper uses Box<>, which requires a memory allocator (I think). If this is going to work, I'll need to map physical memory into the allocator instead of using memory pages. Thoughts/ideas/suggestions?

[2019-07-09 09:09] phil-opp commented on #639
See https://os.phil-opp.com/heap-allocation/#creating-a-kernel-heap on how to map pages for the kernel heap. You can do that with the mapper instance before you initialize your static `MAPPER`, which requires the `Box`.

[2019-07-09 10:06] phil-opp commented on #405
I know this feeling :D

Ok, I think I will keep the current implementation because I think it's a bit simpler.

Cool! For the long term I plan to replace the VGA text buffer with a proper VESA framebuffer, since the former isn't supported for UEFI boots AFAIK. This will allow us to do our own font rendering and work directly on unicode.

[2019-07-09 11:54] Serentty commented on #405
Is it really? All I had to do was replace `.bytes()` with `.chars()`.

Oh, I didn't know you were planning on going that far with this! That's really cool.

[2019-07-09 12:37] phil-opp commented on #405
I don't like truncating casts, so I would probably try to use the [`char::is_ascii`](https://doc.rust-lang.org/std/primitive.char.html#method.is_ascii) method before performing the conversion and then still do the range check because we can't print all ASCII characters (e.g. control characters). Not much more complicated, but it would mean that I have to provide at least a short explanation of uni

[2019-07-09 12:39] Serentty commented on #405
Oh yeah, in my version I used a ``u32`` for the range checking, so I didn't do any truncation. I suppose it is a few more lines.

[2019-07-09 12:55] ethindp commented on #639
Yes, but according to that code, I need an already existing mapper. I can't map the page range before I initialize the mapper with the mapper, because the mapper requires a heap, and I don't have a heap until I initialize the mapper. (That's very confusing.)
As an illustration of the conundrum I face, we have this type:
[code]
And this static
[code]
which expands to
[code]
That's fine. It... half

[2019-07-09 12:55] DokFaust commented on #403
Hi @phil-opp!
Thanks for the tutorial, I would like to ask you if know how to solve this problem.

I was using another toolchain before heading to this tutorial, but I've switched to nightly.
In particular, to make xargo work, I've switched to nightly-2019-02-28  to make [cargo xbuild work](https://github.com/rust-osdev/cargo-xbuild/issues/29), as you stated in the issue.
[code]

The rustc version

[2019-07-09 13:03] phil-opp commented on #403
@DokFaust You shouldn't depend on the standard library, since it is not available for bare metal targets. Do you have the `#![no_std]` attribute in your `main.rs` and do you have set up a [`default target`](https://os.phil-opp.com/minimal-rust-kernel/#set-a-default-target)? If yes, do you have your code online somewhere so that I can take a look?

[2019-07-09 13:14] phil-opp commented on #639
Oh, I understand the issue now. This is indeed a bit tricky.

I'm about to add a new `OffsetPageTable` type to the `x86_64` crate that should simplify things considerably (no closure or Box needed anymore). Perhaps you could try whether new type works for you.

To try it, change the version of `x86_64` to `0.7.2-beta.0` in your `Cargo.toml`. Then you can change your `init_mapper` function to the f

[2019-07-09 14:18] ethindp commented on #639
Gloriously, that worked! My statics now look like:
[code]
Unfortunately, actually mapping the heap is not. My kernel is being mapped in the really high regions of memory; the boot physical memory offset (or PMO as I call it) is 0xFFFFFC0000000000. The parent of that page is apparently a huge page, which is prohibiting mapping to that page range:
[code]
I have absolutely no idea why the boot loader

[2019-07-09 14:24] phil-opp commented on #639
Could you show me what you are trying to do? Sounds like you're confusing physical and virtual memory. The virtual address space always 2^48 bytes large and completely independent of the amount of physical memory.

[2019-07-09 14:31] ethindp commented on #639
Yep. I have a function, allocate_heap, that allocates me a heap:
[code]
But I can't call that within my init function since that function holds the mutex lock. So here's my init function:
[code]
For reference, I have two functions:

* allocate_paged_heap: allocates a heap with flags Writable and Present only.
* allocate_paged_heap_with_perms: allocates a heap with the specified permissions.

Simil

[2019-07-09 14:46] phil-opp commented on #639
The virtual address range that we choose for our heap is arbitrary and completely independent of the physical memory. As noted in https://os.phil-opp.com/heap-allocation/#creating-a-kernel-heap:

You do this instead:

[code]

This way, you choose the virtual address range of the physical memory mapping (setup by the bootloader). This violates the _"as long as it is not already used for a different

[2019-07-09 14:50] ethindp commented on #639
True. My reasoning of using that was I wanted to pick the first available "free" memory region, but I could also arbitrarily pick one. The issue then becomes "how do I detect whether its used or not?" Can I just check the memory map for that?

[2019-07-09 14:58] phil-opp commented on #639
The memory map tells you which _physical_ memory regions are free. The page table tells you which _virtual_ memory regions are free. Since page tables allow arbitrary mappings, these two regions can be completely different.

You got an error while mapping because you picked a virtual memory region that is not free.

[2019-07-09 15:20] ethindp commented on #639
It works! Thank you!

[2019-07-09 15:20] #639 closed

[2019-07-09 15:23] phil-opp commented on #639
Great, you're welcome!

[2019-07-09 15:31] ethindp opened #640 "Reading from memory-mapped ports"
I had this code snippet waiting to be worked on (was working on my allocator, thanks Phill-Opp). I'm trying to follow OSDev and access intel HDA devices (I'm visually impaired and would love to have some kind of sound). According to the OSDev forums, the HDA device is at memory-mapped address 0xFEBF0000. I can't read that address without mapping it in (for some reason), so I do, then I try reading

[2019-07-09 15:41] phil-opp commented on #640
Yes, you can do it that way. Be aware that you need to read from _physical_ address `0xFEBF0000`, not map the virtual address `0xFEBF0000` to some random frame. You can e.g. use the `identity_map` function for that: https://docs.rs/x86_64/0.7.2-beta.0/x86_64/structures/paging/mapper/trait.Mapper.html#method.identity_map

Note that I didn't look into hard disk support yet, so I can't help you with

[2019-07-09 15:45] ethindp commented on #640
I'm... confused on exactly how to use this. The syntax is:
[code]
Would I then use it like this?
[code]

[2019-07-09 15:53] phil-opp commented on #640
[code]

This allocates a random free frame. You don't want that. You want to map the frame at address `0xFEBF0000` into the virtual address space. The identity_map function maps it at the same virtual address, so that the virtual address `0xFEBF0000` points to the physical address `0xFEBF0000` after creating the mapping.

So instead of a `page_range`, you want to create a `frame_range` in this cas

[2019-07-09 15:57] ethindp commented on #640
OK. Is this how I do it? I've never done this before so this is new to me.
[code]

[2019-07-09 16:25] phil-opp commented on #640
Yes, looks good!

[2019-07-09 16:32] ethindp commented on #640
It appears thatRust doesn't like that.
[code]
I pasted in the code from my above comment verbatim. Ideas?

[2019-07-09 16:34] phil-opp commented on #640
`PhysFrame` takes a generic parameter that describes the page size, which Rust can't infer here. Try `PhysFrame::<Size4KiB>::containing_address` (with https://docs.rs/x86_64/0.7.2-beta.0/x86_64/structures/paging/page/enum.Size4KiB.html).

[2019-07-09 16:38] ethindp commented on #640
Thanks, that worked.

[2019-07-09 16:38] #640 closed

[2019-07-09 17:18] pitust commented on #403
@phil-opp You didn't get me, running this:
```cargo build --target x86_64-blog_os.json```
doesn't output this:
[code]
It outputs this:
[code]

[2019-07-09 17:28] phil-opp commented on #403
@pitust That's the expected message. I put the `OR` in to signal that either of these errors can occur, but I guess it is not really apparent. Given that the error about `compiler_builtins` should no longer occur (due to restructurings on the Rust side), I changed the error message to only `core` in 476d21d5e6495ed9a79fc11ce83040fdd2012745. Thanks for reporting!

[2019-07-10 07:01] AtsukiTak commented on #591
Hi, thank you so much for writing this awesome blog. I'm a very fun of it!

I'm not sure why we need to remove `cfg(test)` attribute to make it accessible to `src/main.rs` on test mode. Is `src/main.rs` on test mode linked to `src/lib.rs` on non-test mode?

[2019-07-10 07:42] phil-opp commented on #591
Yes, exactly. Only the leaf crate is compiled in test mode, dependencies are not. And the `lib.rs` is treated like a normal dependency.

[2019-07-10 15:22] matthew-a-thomas commented on #403
Following this guide (very helpful, by the way!) but I'm having a difficult time with [RLS in VS Code](https://marketplace.visualstudio.com/items?itemName=rust-lang.rust). It fails builds and underlines everything in my `Cargo.toml` file with squiggly red. https://github.com/rust-lang/rls/issues/904 talks about this happening in general with `no_std`. One person here https://github.com/rust-lang/r

[2019-07-10 17:01] phil-opp commented on #403
@matthew-a-thomas See https://github.com/phil-opp/blog_os/issues/630. My approach is to set the `RUSTFLAGS` environment variable when launching code:

[code]

Just replace the path with the path to the `target/sysroot` folder of your project. It works with [rust-analyzer](https://github.com/rust-analyzer/rust-analyzer) and I think it should work with RLS too.

[2019-07-10 20:20] matthew-a-thomas commented on #403
That helps a ton. Thanks!

For anyone else running Windows, my `.vscode/settings.json` file looks like this:

[code]

Until someone implements https://github.com/microsoft/vscode/issues/2809 then unfortunately we're stuck with absolute paths in VS Code `settings.json`. Terrible for portability, but that's a VS Code issue, not something wrong with this tutorial series.

If you don't want to hard co

[2019-07-11 01:48] matthew-a-thomas commented on #403
@phil-opp Actually that doesn't work for me. `cargo xbuild` fails with the error message `Option 'sysroot' given more than once` (and then prints the failing command string in which `--sysroot` is indeed specified twice, although to the exact same path both times). However, RLS and `cargo build` both work (which is why I thought it was working). Any thoughts on why `cargo xbuild` might not be work

[2019-07-11 03:02] ethindp opened #641 "Build failing to build with latest x86_64 (0.7.2)"
So, apparently cargo is refusing to use version 0.7.2-beta0 of x86_64 and has happily jumped the gun to 0.7.2. Now rust is complaining that it can't find OffsetPageTable (see issue #640 for more info). Has this been renamed/removed?

[2019-07-11 06:07] phil-opp commented on #641
The beta was a pre release of a pull request that is not merged yet. I try to merge it today and publish 0.7.3 with it. Sorry for the confusion!

In the meantime, you can force version  0.7.2-beta0 through `"= 0.7.2-beta0"`.

[2019-07-11 06:44] ethindp commented on #641
I'm doing that, but its still forcing 0.7.2. I'll wait for the 0.7.3
release -- I should be awake by then.

On 7/11/19, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2019-07-11 08:42] phil-opp commented on #403
@matthew-a-thomas Oh, I never tried to run `cargo xbuild` again with `RUSTFLAGS` set. I created https://github.com/rust-osdev/cargo-xbuild/pull/40 to fix this error (by only adding the `--sysroot` if it is not present yet).

[2019-07-11 08:58] phil-opp commented on #641
Not sure if I get to it today. We're having some CI problems because of https://github.com/rust-lang/rust/issues/62562, so I perhaps postpone it until the nightly is fixed again.

But you can still use the beta version, I just tried it. You need to specify an "[inequality requirement](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#inequality-requirements)" using `=` for tha

[2019-07-11 09:02] phil-opp commented on #641
I'm going to close this issue because it's a bit misleading for other readers. The project should build just fine with `0.7.2`, it just doesn't contain the `OffsetPageTable` from the beta version yet (which isn't used on the blog).

This doesn't mean that you can no longer comment here, it just removes this issue from the list of open issues.

[2019-07-11 09:02] #641 closed

[2019-07-11 17:14] matthew-a-thomas commented on #603
Inspired by your comment in the OP, but I'm using both green and red:

[code]

Usage:
[code]

More colors here: https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

I don't want to make a PR because I doubt this code is ready for prime time, but wanted others to have something to copy-paste in a pinch if they find themselves here.

Some issues I see with my code:

 * I can't remember if you've e

[2019-07-11 18:36] matthew-a-thomas commented on #603
Here's Version Two. Feels a little more Rusty to me (but what do I know?)

[code]

Simple usage:
[code]

![Green OK](https://user-images.githubusercontent.com/14829821/61075980-241b7f00-a3e9-11e9-8ba7-da7ffc0d23bb.png)

Advanced usage:

[code]

![Multicolored woohoo](https://user-images.githubusercontent.com/14829821/61075997-35fd2200-a3e9-11e9-95db-65904203645c.png)

[2019-07-11 20:14] ethindp commented on #641
Thank you, I'll do that. I'm using rustc 1.37.0-nightly (0af8e872e
2019-06-30) so not sure why its breaking for me. I didn't think the
title would be misleading; sorry about that.

On 7/11/19, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2019-07-12 20:34] 01shadowalker01 commented on #403
Hey there!
Thank you for your awesome blog!!
It's a life savior for me!
I wanted to develop an OS with rust and I was pretty confused how to get started >_<
You have helped me a lot till now, but I want my OS to have more features like taking keyboard input from user and so on.
Could you please introduce me to a good source (or even more) to implement such features?
THANKS!!❤

[2019-07-14 20:10] matthew-a-thomas commented on #603
Here's my final product for very flexible colored output:

[code]

Usage:

[code]

Output:

![Colorful output](https://user-images.githubusercontent.com/14829821/61188743-a1492d00-a651-11e9-89dd-5f87635a87c4.png)

[2019-07-15 08:32] phil-opp commented on #603
@matthew-a-thomas Looks great, thanks for creating this!

I think this is a bit too complex for adding it to the blog, but how about including it as an external crate? This also has the advantage that people can use it for their own projects without needing to copy the whole code. If you want, we can create the crate under the [rust-osdev](https://github.com/rust-osdev/) organization, or you can j

[2019-07-15 08:52] phil-opp commented on #403
@01shadowalker01 Great to hear that it's useful to you!

For keyboard input, check out the [_Hardware Interrupts_](https://os.phil-opp.com/hardware-interrupts) post. For further reading, a useful resource is the [OSDev wiki](https://wiki.osdev.org/Main_Page).

[2019-07-15 10:33] GrayJack commented on #591
I'm having trouble
I did till  Custom Test Frameworks
But keep telling me that `error[E0463]: can't find crate for test`

I did exactly as said in the tutirial

[2019-07-15 11:02] phil-opp commented on #591
@GrayJack Did you add the `#![feature(custom_test_frameworks)]` and `#![test_runner(crate::test_runner)]` attributes? If yes, do you have your code available somewhere so that we can take a look?

[2019-07-15 11:23] GrayJack commented on #591
Yes, I did
https://github.com/GrayJack/FerrousOS

[2019-07-15 11:28] phil-opp commented on #591
@GrayJack Thanks! You already have a `lib.rs`, which we introduce [later in the post](https://os.phil-opp.com/testing/#create-a-library). Rust tests your `main.rs` and `lib.rs` separately, so you need to specify the `#![test_runner(crate::test_runner)` attribute in both files. Otherwise, the default test runner will be used for your `lib.rs`, which results in the error you saw.

[2019-07-15 11:42] GrayJack commented on #591
Thanks, now it's complaining that that there is no #[panic_handler] function on the lib part, do I have to create a panic handler inside lib.rs as well?

[2019-07-15 11:46] phil-opp commented on #591
Yes, see the [_"Create a Library"_](https://os.phil-opp.com/testing/#create-a-library) section of the post:

[2019-07-15 17:08] ethindp opened #642 "Attempting to enable SSE and FPU causes page fault"
Not sure if I'm getting the asm wrong or what, but I'm trying to enable the FPU and SSE support, if detected on the system. My code looks like this:
[code]
Am I reversing the registers/operands? I'm doing my best to follow along with the OSDev assembly given to enable SSE and the FPU, but if I use the EAX register the rusty_asm crate (which lets me do ASM functions much easier than the rust asm! m

[2019-07-15 20:39] matthew-a-thomas commented on #603
@phil-opp Awesome feedback. Perfect for a beginner Rustacean like me&mdash;thanks!

I see your point about the uncommon interface, and the lack of support for `fmt::Debug` and `fmt::LowerHex`.

I like the idea of decorating things that already implement `fmt::Display`. What would you think about the following syntax?

[code]

![Red text with blue background](https://user-images.githubusercontent.c

[2019-07-16 07:58] phil-opp commented on #603
Looks good!

If it's still correct (i.e. no invalid control sequences), I think that's fine for now.

I looked through a few existing crates. Your approach seems most similar to https://github.com/mackwic/colored. However, that crate (and most others) depend on the standard library, so I think it's still worth to create a simple `no_std` crate. Also, I like that your code works with all formatting

[2019-07-16 08:05] phil-opp commented on #642
Sorry, I never used rusty_asm and I haven't seen this error either, so I can't really help you with this.

[2019-07-16 12:46] matthew-a-thomas commented on #603
Awesome, thanks! I'll work on that next chance I get.

Hmm. I'm brainstorming. It will have these advantages over other ANSI color crates I'm seeing:

 * Works in `no_std`
 * Very simple (just colors)
 * Colors all the formatting traits
 * Supports all RGB colors

Maybe its name can reflect these things.

I don't think it should be named something like `ansi` or `color` (even if those names were f

[2019-07-16 12:52] phil-opp commented on #603
I prefer American English too. I don't have any strong preferences about the name, but I think `ansi` in the name makes sense to differentiate it from other color crates (e.g. for RGB-HSV conversion or for image manipulation). I agree that `ansi_color` is too similar to `ansi_colours`.

[2019-07-16 14:52] matthew-a-thomas commented on #603
@phil-opp I've never moved a repository in GitHub before, nor have I done anything with Teams. I think it's showing: I renamed my repo to `ansi_rgb` and transferred ownership to rust-osdev, then created the `ansi_rgb` team, then noticed that I should have done those two things in the reverse order because now I don't have admin privileges on the repo to give it to the team 🤦‍♂

[2019-07-16 15:31] phil-opp commented on #603
No worries! I added the repository to the team, giving it write access. You personally have full admin access now, so feel free to change the repository and permission settings however you like.

I think we should push an initial release to crates.io soon to reserve the name.

[2019-07-16 15:46] phil-opp commented on #603
Also, we should include the project in https://github.com/rust-osdev/about. Feel free to add yourself to the members list too.

[2019-07-16 16:26] matthew-a-thomas commented on #603
@phil-opp Boom! https://crates.io/crates/ansi_rgb

Will update documentation, package better, etc later

[2019-07-16 18:28] ethindp commented on #642
Ah OK. My problem when attempting to debug it with -S and -s is that
QEMU doesn't stop running and GDB doesn't catch anything. To gDB, no
error happens at all, even when it page faults; and to QEMU, it page
faults but loops indefinitely. How would I go about making GDB
function properly so I can debug this issue?

On 7/16/19, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D.

[2019-07-17 07:44] phil-opp commented on #603
Awesome! I try to include it on the blog soon.

[2019-07-17 07:48] phil-opp commented on #642
You should be able to do `cargo xrun -- -s -S` and then connect a GDB instance.

See also https://os.phil-opp.com/set-up-gdb/#the-annoying-issue (note that it is a post of the first edition) for an issue with GDB and https://github.com/phil-opp/blog_os/issues/374 for an alternative workaround.

[2019-07-17 08:11] ethindp commented on #642
That's not the problem though. The problem is that when GDB connects
and I hit continue, it just sits there. When the kernel page faults,
GDB does not interrupt it like a normal program. GDB never even sees
the problem -- its as though a problem never occurred even though one
actually did.

On 7/17/19, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2019-07-17 08:15] phil-opp commented on #642
A page fault doesn't necessarily mean that something went wrong. Consider demand paging, where pages are swapped out to disk and transparently loaded back into memory in the page fault handler. It would be annoying if the debugger always breaks on such a case.

If you want to break on a page fault, just add a breakpoint on your page fault handler.

[2019-07-17 12:12] matthew-a-thomas commented on #603
@phil-opp There are a few [things I need to tidy up](https://github.com/rust-osdev/ansi_rgb/issues). Would it be okay to wait until [0.2 is released](https://github.com/rust-osdev/ansi_rgb/milestone/1)? In the meantime feel free to add issues for things I've missed

[2019-07-17 13:43] phil-opp commented on #603
Sure, this can wait until you feel that it's ready for public consumption. At the moment, I'm quite short on time anyway, so no need to hurry. Thanks for all your work!

[2019-07-17 14:44] ethindp commented on #642
It would be annoying, but for some reason, me enabling SSE and AVX
causes a page fault (protection violation) at addr 0x600 or something
like that. I have absolutely no idea why that happens though.

On 7/17/19, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2019-07-17 14:53] phil-opp commented on #642
Have you tried looking at the disassembly to find out which instruction causes this? Just do an `objdump -d` of your kernel binary (in `target/your-target-triple/debug/your-binary-name`) and then grep (with a few lines of context) for the address (without the `0x` prefix) that is reported in the exception stack frame.

[2019-07-18 03:00] matthew-a-thomas commented on #603
@phil-opp 0.2.0 came faster than I expected: https://crates.io/crates/ansi_rgb/0.2.0 🎉

[2019-07-18 03:17] lovesegfault commented on #591
I keep getting this supremely annoying error when trying to write the panic handler test:
[code]

It seems like the panic handler defined in `lib.rs` "leaks" into everything that uses the lib, not sure why/how that's happening. [Source is on GitHub](https://github.com/lovesegfault/daedalos).

Any ideas @phil-opp

[2019-07-18 07:30] phil-opp commented on #591
@lovesegfault There can only be a single panic handler across all included crates. If your `lib.rs` already provides a panic handler, you can't override in your test binary. (You also can't override the panic handler of the standard library, which is the reason why [`panic::set_hook`](https://doc.rust-lang.org/std/panic/fn.set_hook.html) exists.)

To solve this problem, move your [`#[cfg(not(test)

[2019-07-18 10:12] phil-opp commented on #603
Awesome!

[2019-07-21 14:47] phil-opp commented on #513
The issue should be fixed on current nightlies.

[2019-07-21 22:39] aufflick commented on #480
Is there a possible deadlock in `keyboard_interrupt_handler` since `notify_end_of_interrupt` will get called before the `KEYBOARD` lock falls out of scope?

[2019-07-22 04:41] ethindp commented on #480
I don't think so. My understanding of Spin::Mutex is that when locked,
it will release the mutex after it leaves scope. The only possible way
I could see a deadlock occurring is if the PIC is faulty or two
interrupts for the keyboard get sent simultaneously. Even then, the
handler would be called twice, and both calls woudl happen almost
together, and therefore, one would wait while the other fini

[2019-07-22 07:27] phil-opp commented on #480
@aufflick The `notify_end_of_interrupt` function only signals to the interrupt controller that we're finished handling the interrupt, so that it can send the next one when possible. However, interrupts stay disabled on the CPU by default until the interrupt handler returns. So even if the interrupt controller raises an interrupt right after the `notify_end_of_interrupt` call, the CPU would not sta

[2019-07-22 08:05] #513 closed

[2019-07-22 13:08] ethindp commented on #480
Ah. I could also see something liek a deadlock happening once we use
an APIC and/or enter SMP mode -- that will be problematic, and I'll
have to rewrite my current IDT code. Ug

On 7/22/19, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2019-07-22 13:26] phil-opp commented on #480
As long as we don't make the keyboard handler nested by reenabling interrupts before it is finished, I don't think it will cause issues. And there is no reason to do so because we want to handle keyboard input sequentially anyway.

[2019-07-22 13:36] 64 commented on #480
There shouldn’t be a deadlock here even with SMP. If two interrupts happen on different CPUs at the same time, one will take the keyboard lock and the other will be forced to wait until it’s finished.

APIC has a similar EOI mechanism but uses MMIO instead of in/out, as the 8259 PIC does - it shouldn’t be that hard to replace. Basically the main thing you need to avoid is locking something twice f

[2019-07-22 13:42] phil-opp commented on #480
It's mutating the internal state of the interrupt controller, isn't it?

[2019-07-22 14:54] 64 commented on #480
Yes but it doesn’t need to - it treats writing to a port as a mutation. It’s not modifying any actual data.

[2019-07-22 15:03] phil-opp commented on #480
I guess that a question of the mental model. What I meant is that the port write has a side effect, even without modifying any data. Before it, the internal state of the interrupt controller is that the interrupt is still processed. Afterwards, the interrupt controller is in a different internal state, namely that the handling of the interrupt has finished. For me this sounds like some internal re

[2019-07-22 15:41] ethindp commented on #480
How would we even set up aPIC and SMP support anyway? I've read up on
th aPIC and SMP on OSDev but can't:
1) figure out how to read ACPI tables (I know I can read pointers and
all that, but if I read the memory at 0x40E (I think that's the right
one), will I get a memory address which I then need to read at?).
2) Enable SMP. I've read the Intel SDMs on this, but still don't know
how to send the ap

[2019-07-22 18:32] 64 commented on #480
There is no easy walkthrough that I’m aware of. OSDev wiki explains what you need to do to get the ACPI tables. Here’s a useful reference that helped me with SMP before: https://nemez.net/osdev/lapic.txt

[2019-07-23 05:34] 64 commented on #603
FWIW I have a basic ANSI escape sequence parser in my kernel which processes the output of println and determines the correct color to write to the framebuffer. Mostly it is just a simple way of controlling text color without needing any color setting APIs in the kernel. It could be a good fit for this crate if there’s a demand?

[2019-07-23 12:45] matthew-a-thomas commented on #603
@64 Consuming ANSI escape sequences definitely sounds useful. However, consumption of ANSI escape sequences is a separate concern than producing them, and I suspect very little code would be common between the two. Is there a compelling reason to bundle both concerns up into the same crate?

If we decide the reason we want to begin consuming escape sequences is because this crate produces them, I

[2019-07-23 14:08] 64 commented on #603
There’s only so many escape sequences you can actually implement with VGA text mode, at least, so I don’t see the ‘pressure over time’ being a particular concern.

I guess there’s not much reason to have it together other than the fact that it’s a nice logical unit to have all color handling in one crate. I’m generally not a fan of micro crates but it’s down to personal preference at the end of th

[2019-07-23 14:31] matthew-a-thomas commented on #603
@64 I'm not trying to be difficult, but this suggests to me another reason to hesitate in putting them together: `ansi_rgb` is intended to work in all environments (that have a terminal); your proposal presumably is for environments having a framebuffer, VGA text mode, or something like that: those are often not the same environment.

I feel like I'm thinking too subjectively about this. What conc

[2019-07-23 19:30] 01shadowalker01 commented on #403
Hey Phil!
Thank you for everything! You saved me a lot of time till now!
I have another question:
I want to pick redox-os's kernel and use it, I don't need rest of it for
now.
The reason is that I want to have a microkernel in rust, can you guide me
through this?
Thanks a lot!

On Mon, Jul 15, 2019, 13:22 Philipp Oppermann <notifications@github.com
wrote:

[2019-07-24 02:24] 64 commented on #603
Well, everyone who consumes them is also going to need to produce them (otherwise what’s the point). As for the number of people who actually want to consume them, it’s probably quite low but I’d wager that more people would use it if it was available because it’s an easy way to control color through println alone.

At the moment it just produces bytes which control color in the VGA text mode, i.e

[2019-07-24 07:56] phil-opp commented on #403
I'm not sure whether this is easily possible. As far as I know, the Redox kernel is relatively tightly coupled with the rest of Redox. I would probably start with the complete [Redox OS](https://gitlab.redox-os.org/redox-os/redox) and then iteratively remove components that you don't need. This also has the advantage that you'll see many examples for interaction with the kernel, which is useful be

[2019-07-26 13:29] Hyijun opened #645 "How to use embedded assembly code in Rust without eternal libraries"
I need to do some low-level operations to better deal with exceptions and interruptions. However, I don’t know how to emb assembly code. I tried to look it up in external library "x86_64", yet no use. If Rust doesn’t provide such method to emb assembly code, is there any other ways to do it?

[2019-07-26 13:46] phil-opp commented on #645
Inline assembly is possible through the unstable `asm!` macro. See https://doc.rust-lang.org/unstable-book/language-features/asm.html

[2019-07-27 14:38] ielashi commented on #403
Thanks for the incredible tutorials - very informative!

I'm stuck with not being able to run the image on QEMU. The command `qemu-system-x86_64 -drive format=raw,file=target/x86_64-blog_os/debug/bootimage-blog_os.bin` hangs indefinitely.

I also tried `qemu-system-x86_64 -drive format=raw,file=target/x86_64-blog_os/debug/bootimage-blog_os.bin -nographic`. I noticed a quick flash and then the scre

[2019-07-27 20:45] 64 commented on #403
@ielashi are you working from this exact repo, or your own code? If not, try building and running from one of the `post-0x` branches. It’s built on CI every day so there shouldn’t be any problems.

Failing that, upload the bin file somewhere and give me a link; I’ll take a look.

[2019-07-28 06:33] ielashi commented on #403
Ah, I just got it to work. I reinstalled QEMU and tried again. Thanks again
for the help!

On Sat, Jul 27, 2019 at 10:45 PM Matt Taylor <notifications@github.com>
wrote:

[2019-07-30 05:17] #645 closed

[2019-07-31 12:16] Mendess2526 commented on #403
Thanks for the tutorials, I never thought I would one day try to write an OS :smile:

What would I need to change in the target specification to build for a 32bit system?
I'm trying to run it on a machine with the `i686` architecture.

I tired this, but got a rustc error
[code]
`error: failed to run 'rustc' to learn about target-specific information`

`data-layout`, probably needs to change too, r

[2019-07-31 12:31] bjorn3 commented on #403
@Mendess2526

Yes, the following things need to be set:

* "llvm-target": "i686-unknown-none"
* "data-layout": "e-m:e-p:32:32-f64:32:64-f80:32-n8:16:32-S128"
* "arch": "x86",
* "cpu": "pentium4",
* "target-pointer-width": "32"

If that doesn't fix it, please run with `-v` and paste the whole output including the command you ran?

You will probably need to add `i686` support to [`bootloader`](https

[2019-07-31 12:42] Mendess2526 commented on #403
Thanks! It compiled but it seems you were right on adding `i686` support to `bootloader`.

The test pc prints out
[code]

[2019-07-31 12:44] bjorn3 commented on #403
:) It is probably easier to just compile for 64bit and use a VM.

[2019-07-31 12:45] Mendess2526 commented on #403
I guess I will, but what would I need to do to compile to 32bit? Scrap `bootloader` and implement it myself?

[2019-08-01 11:55] shakram02 commented on #405
Hey Philipp, thank you so much for the great tutorial, it was really fun following along!

I changed adding the
[code]
statement with some assembly
[code]
using the `asm!` marco so the VM doesn't keep hogging the CPU, is it safe/bad/better to do so?

Is it possible to call BIOS using `asm!` within rust code? for example to load a file from disk or there's a better way to do it?, thanks!

[2019-08-01 12:13] bjorn3 commented on #405
No, BIOS runs requires 16bit mode, while rust code runs in 64bit mode.

[2019-08-01 12:16] shakram02 commented on #405
yes, but we can't do this transition while in rust? something like the `unreal` mode?
pardon me if it's not a good question, I'm still too newbie

[2019-08-01 12:53] phil-opp commented on #405
You're welcome, great to hear that!

Yes, this is better! We do it [later in the tutorials](https://os.phil-opp.com/hardware-interrupts/#the-hlt-instruction), but without the `cli`.

I'm not sure if it's possible to go back from long mode to (un)real mode. It would probably cause problems because less memory is accessible and the page table translations are no longer used.

So it's probably better

[2019-08-02 04:02] funfoolsuzi commented on #403
Somehow my rls stopped working in VSCode. I think rls doesn't know about xbuild

[2019-08-02 09:01] phil-opp commented on #403
@funfoolsuzi See https://github.com/phil-opp/blog_os/issues/630 and https://github.com/rust-lang/rls/issues/904.

[2019-08-02 09:19] phil-opp opened #649 "CI: Use caching on azure pipelines"
We can probably utilize the upcomining cache task on azure pipelines to speed up our builds.

[2019-08-05 18:43] SlagHoedje commented on #591
Just some confusion that came up in my mind: By writing the panic handler test, aren't you actually testing the the correct calling with the correct info of the panic handler, instead of how the panic handler is implemented in the OS itself, since there are no references back to the OS itself, except for some testing utilities? Because the more I think about it, the more it seems to me it's a sepe

[2019-08-06 10:47] phil-opp commented on #591
@SlagHoedje The main reason for that test is that I wanted to show how no-harness tests work. However, you're right that the test isn't really useful because isn't using any kernel component. Given that the test is also non-trivial due to the `CompareMessage` struct, I'm inclined to just remove it. Instead, the post could just show how to create a should-panic integration test.

[2019-08-07 09:10] phil-opp commented on #591
@SlagHoedje I opened https://github.com/phil-opp/blog_os/pull/650 to fix this issue.

[2019-08-08 08:02] phil-opp opened #652 "CI: QEMU installation does not work on Windows"
We use `choco install qemu` to install QEMU on the Windows CI agent. This succeeds, but `C:\Program Files\qemu` [is an empty directory](https://dev.azure.com/phil-opp/blog_os/_build/results?buildId=2183) afterwards. The strange thing is that this still [worked yesterday](https://dev.azure.com/phil-opp/blog_os/_build/results?buildId=2168), so some new version of either QEMU, the chocolatey package,

[2019-08-08 08:05] phil-opp commented on #652
Ok, it seems like the QEMU version changed from `v2019.07.31` to `v2019.08.07`. The relevant installers are https://qemu.weilnetz.de/w64/qemu-w64-setup-20190731.exe and https://qemu.weilnetz.de/w64/qemu-w64-setup-20190807.exe.

[2019-08-08 08:06] phil-opp commented on #652
Seems to be https://bugs.launchpad.net/qemu/+bug/1839294

[2019-08-08 10:37] Cerberuser commented on #591
I'm curious, is it safe to mark `exit_qemu` function as diverging, or the OS code could potentially continue after it has finished (while QEMU wasn't stopped yet)?

[2019-08-08 11:08] phil-opp commented on #591
@Cerberuser The problem is that it only exits if the `isa-debug-exit` device is available at that address. If you launch QEMU without the corresponding `device` parameter or run your kernel on real hardware, the `exit_qemu` function would have no effect.

If you want a diverging `exit_qemu` function, you can just add a `loop {}` at the end. This way, the compiler can prove that the function never

[2019-08-08 13:02] 64 commented on #591
@phil-opp FWIW `loop {}` is currently insta UB (https://github.com/rust-lang/rust/issues/28728), but with some inline asm in the middle it will work

[2019-08-08 15:24] phil-opp commented on #591
@64 Yes, I'm aware of that. I hoped that this issue would be resolved by now, but it seems like I was too optimistic. We should probably work around it, for example by providing a `nop` function in the `x86_64` crate so that we can avoid writing the inline asm ourselves.

[2019-08-09 13:36] MikailBag commented on #591
To my mind, core::arch::x86_64::_mm_pause() or core::hint::spin_loop() should be OK.

[2019-08-11 12:26] AleVul commented on #591
I receive the following error `language item required, but not found: eh_personality` when i run `cargo xtest`, any idea how i can fix this?
using rust nightly-2019-08-09

[2019-08-12 07:24] phil-opp commented on #591
@AleVul At which point in the tutorial does the error occur? Do you have your code online somewhere so that I can take a look?

[2019-08-12 16:49] AleVul commented on #591
@phil-opp beginning of testing, branch [here](https://github.com/AleVul/kernel_playground/tree/testing)
i think it's because i didn't define a panic handler when running tests.

[2019-08-12 16:55] phil-opp commented on #591
@AleVul I don't see any testing code in the branch and according to github the branch is even with the master branch. Perhaps you forgot a `git push`?

[2019-08-12 17:09] AleVul commented on #591
@phil-opp yes, you right, forgot a push, pushed now, let me know if you need anything else

[2019-08-12 17:27] phil-opp commented on #591
@AleVul I think I found the problem. You don't specify the `panic-strategy` option in your target JSON file, which means that the `core` library is built with unwinding enabled. After adding the option and doing a `cargo clean`, it worked for me.

I updated the blog to clarify this in cd5dd17a99de776a2350a7042a445b75f38b3708. Thanks for reporting your problem!

[2019-08-12 17:31] AleVul commented on #591
@phil-opp thank you for your help and great articles!

[2019-08-12 17:33] AleVul commented on #591
a note here, panic strategy is set in Cargo.toml file, bot only for dev and release, i guess there shoulde be for test if i stick with the Cargo.toml route

[2019-08-12 17:35] AleVul commented on #591
nvm, just saw update version of the post

[2019-08-13 09:03] deleteJ commented on #519
I do finish reading your post and a big thanks
feel good when learning

[2019-08-13 14:51] phil-opp commented on #519
@deleteJ Great to hear that!

[2019-08-14 05:21] AtsukiTak commented on #450
Hi. Thank you for awesome blog series!

I just want to clarify a point.

The x86-interrupt calling convention is such a calling convention, so it guarantees that all register values are restored to their original values on function return.

At above sentence, does terms `all register` mean `all global register`? Since I thought that,  for example,`rax` register is included in `all register` but it

[2019-08-19 15:06] aadit0402 commented on #403
I am trying to install bootimage, But it is giving following error. I can see that crate for core in this directory: /target/sysroot/lib/rustlib/x86_64-blog_os/lib/core-43970d9e433dd37b.d.

ditya@aditya:~/osrust/pill-opp/rust-code/blog_os$ cargo install bootimage --version "^0.7.3" --target x86_64-blog_os.json
    Updating crates.io index
  Installing bootimage v0.7.7
   Compiling serde v1.0.99

[2019-08-19 20:58] 64 commented on #403
@aadit0402 try just `cargo install bootimage --version "^0.7.3"`?

[2019-08-20 02:11] ethindp commented on #652
This works fine -- I have not noticed any problems with it (then again, I don't use chocoloty). As an Azure test pipeline, tell it to just install scoop and rustup -- which might save you a lot of time. The commands would be:
[code]
Then run your qemu commands.

[2019-08-20 06:58] phil-opp commented on #403
@aadit0402 Bootimage is a tool that runs on your host system. By passing a `--target` argument, you try to install it for the bare-metal target system, which won't work because bootimage relies on the standard library (which is not available on bare-metal). As @64 suggested, try running the installation command without the `--target` parameter.

[2019-08-20 08:09] phil-opp commented on #652
Seems like it's working again. Thanks for the `scoop` suggestion, I will look into it.

[2019-08-20 08:39] phil-opp commented on #450
@AtsukiTak I'm glad you like the series!

The `x86-interrupt` calling convention does restore all general purpose CPU registers, including `rax`, `rbx`, `rcx`, and so on. Additionally, _the CPU_ (not the compiler) push the segment registers (`cs`, `ss`), the stack and instruction pointers, and the RFLAGS register. This is independent from the used calling convention since this interrupt stack fram

[2019-08-20 11:04] phil-opp commented on #621
This seems to be solved.

[2019-08-20 11:04] #621 closed

[2019-08-23 02:19] ethindp opened #656 "Reading from AHCI disks"
Will we ever be covering how to read from HDDs? This involves going through PCI enumeration but an OS is pretty useless without such support. I'm trying to learn how to get AHCI working via the OSDev wiki (its currently down, so using https://173.255.206.39 to access it) but still am unsure how (in Rust) I'd send FIS packets to the device. My code (currently) is at https://github.com/ethindp/kerne

[2019-08-23 02:23] AtsukiTak commented on #450
@phil-opp Now things are very clear. Thanks a lot!!

[2019-08-23 21:42] #622 closed

[2019-08-25 16:15] sunyulin728 commented on #450
Hi, Thank you! This is awesome blog.

I tried to run the rust code in KVM. All other part works fine except the exception part.

No matter how I load the IDT, either in guest mode or host mode. The exception handler can't be triggered.

Do you by chance know ther reason?

[2019-08-25 19:38] 64 commented on #450
@sunyulin728 can you link to your code? I'd be happy to take a look.

See also https://wiki.osdev.org/Troubleshooting

[2019-08-25 21:43] sunyulin728 commented on #450
@64 ,  Thank you.

The code is at https://github.com/sunyulin728/rustkvm. Sorry that it is just experiement code and the related path is hardcoded.

1, It need to be clone to /home/brad/rust/rustkvm
2. cd  /home/brad/rust/rustkvm/
3. ./setup
3. cd qkernel
4. make
5. cd ../qvsior
6. Cargo run

[2019-08-25 23:08] 64 commented on #450
@sunyulin728 I haven't run the code myself (it's a little tricky to setup) but it sounds like it's an issue with either the GDT or paging - but it's pretty difficult for me to diagnose since you're going through a hypervisor.

If you're running in QEMU you can use `-d int` to print detailed information about the crash that you're getting which can help you diagnose the issue.

I understand that th

[2019-08-27 07:44] bjorn3 commented on #570
https://os.phil-opp.com/set-up-gdb/

[2019-08-29 01:50] sunyulin728 commented on #450
@Matt Taylor, Thank you!

I agree with you. The issue is very likely from GDT setup.

I translate the KVM sample from https://github.com/david942j/kvm-kernel-example to Rust. But the orginal code didn't setup GDT at all.

I study the gdt setup code in https://os.phil-opp.com/double-fault-exceptions/. I find there is only cs and tss setup. There is no other *s such ds setup related code.

Do you kn

[2019-08-29 07:23] phil-opp commented on #450
@sunyulin728

According to the AMD/Intel manuals, the content of the other segment registers are ignored in 64-bit. See https://github.com/rust-osdev/x86_64/pull/78 for some discussion about this.

[2019-09-01 07:26] siebenHeaven commented on #570
@phil-opp Before I get to my comment - great set of posts - incredibly simple to understand and follow and a good intro to rust. Can see a lot of efforts that you have put into this - can't appreciate enough.

Now onto some failures that I see with updated dependencies:

Building bootloader
  Downloaded x86_64 v0.7.2
   Compiling semver-parser v0.7.0
   Compiling cc v1.0.37
   Compiling cast v0.2.

[2019-09-01 09:55] phil-opp commented on #570
@siebenHeaven Thanks for the praise, it's great to hear that you like it!

I already encountered this error a few times. I think the problem is that cargo-xbuild fails to remove old versions of the sysroot after the target JSON changed, but I haven't had the time to debug it yet. As a workaround, try to do a `cargo clean`. This should clean all compilation artifacts and so that a subsequent build

[2019-09-01 14:38] siebenHeaven commented on #570
@phil-opp Thanks for the instant help, that worked!

[2019-09-01 20:21] aadit0402 commented on #591
I was trying to run cargo xtest --target x86_64-blog_os.json command. but getting segmentation fault in vga_buffer.rs file. I also generated a core-dump file and did full backtrace but did not get any hint to fix this. Any leads would be appreciated. This is my github repository and added segmentation fault errors here: https://github.com/aadit0402/self-learning-os-rust/commit/4e5ce69dbb8dbe44ed7a

[2019-09-01 21:37] Serentty commented on #405
@phil-opp I figured out where I saw that picture of the Greek codepage! It appears in the entry “A Minimal Rust Kernel”, not this one.

[2019-09-02 08:12] phil-opp commented on #591
@aadit0402 You need to specify a runner in a `.cargo/config` file as described [here](https://os.phil-opp.com/minimal-rust-kernel/#using-cargo-run). Otherwise, `cargo xtest` tries to run your kernel as a normal program, which is likely the reason for the segmanation fault.

[2019-09-02 13:48] phil-opp commented on #405
@Serentty Thanks for the hint, I don't know how I missed this. Fixed in 54ad8ae7921d2ae9cc29a80c6aab6838a2a2a413.

[2019-09-06 01:47] ciehanski opened #657 "(Testing) Post 4 - invalid use statement within 'main.rs'"
The following line produces an error during compilation:
https://github.com/phil-opp/blog_os/blob/d3e4c55fc5a8a7bff16badbdae16a15b6f67ad79/src/main.rs#L7

Error:
[code]

In order to fix this compilation error it must be changed to:
[code]

[2019-09-06 01:53] ciehanski commented on #657
lib.rs must also explicitly link all dependencies or compilation also fails (at least in my experience):
[code]

[2019-09-06 04:47] AntoineSebert commented on #657
Concerning your first problem, `use blog_os::{println};` is strictly equivalent to `use blog_os::println;`, so your problem might come from somewhere else.
Regarding your second problem, the explicit link of the dependencies is not required.

What is the version of your compiler ?
Mine is *1.38.0-nightly (60960a260 2019-08-12)*.

[2019-09-06 04:56] ciehanski commented on #657
That was my assumption as well, but for some reason it could not find the reference to `println`. Just thought I would post in case anyone else ran into issues and were looking for a resolution. Similar case with my second issue as well, I was under the assumption that explicit links were _not_ required, but for some reason compilation fails without it. Only the minor changes I stated above suppli

[2019-09-06 07:31] phil-opp commented on #657
@ciehanski Do these errors also happen when building this repository, e.g. the `post-04` branch? We regularly verify that the repository builds with the latest nightly using continuous integration and I did not see this error for any nightlies.

[2019-09-08 23:09] allthetime commented on #405
@phil-opp Hi, thank you so much for this series. I am inexperienced with systems programming and this is very illuminating. I have a question slightly outside of the scope of this article. As per the documentation on the bootloader crate I am trying to enable vga color mode `0x13`. I put this in my Cargo.toml and it compiles:

`bootloader = { version = "0.6.4", features = ["vga_320x200"] }`

and I

[2019-09-08 23:53] allthetime commented on #405
@phil-opp I got a little further. After adding another `0`, changing the memory address to `0xA0000`, which is not what is documented anywhere, I am getting [this result](https://i.imgur.com/uqyIPr4.png). From the code I would expect it to draw to the whole screen.

[2019-09-09 02:00] ciehanski commented on #657
@phil-opp your branch compiles and runs just fine as expected, no clue why I was having issues with my version. I'll go ahead and close this issue. Hopefully, if someone else gets stuck as I was, they can be referred here.

Thanks for a wondering blog!

[2019-09-09 02:00] #657 closed

[2019-09-09 02:01] 64 commented on #405
@allthetime you missed a zero :) See this code for an example usage
https://github.com/rust-osdev/bootloader/blob/master/src/printer/vga_320x200.rs#L4

FWIW there's currently a bug whereby only half the screen isn't cleared, but I intend to fix that soon

[2019-09-09 02:18] allthetime commented on #405
@64 oh ya, I totally read that wrong. I guess I'll dive into the bootloader code a bit, it looks really useful. Thanks!

[2019-09-09 07:15] phil-opp commented on #657
@ciehanski Thanks for the update! Do you have your code online somewhere? Maybe we can understand what was happening here.

[2019-09-09 12:01] phil-opp commented on #405
@allthetime

I think the problem is the `as u8` cast of `position`. The maximum value of an `u8` is 255, so `position` is truncated and only the first 255 pixels of the screen are written. Try removing that cast.

[2019-09-09 12:06] phil-opp commented on #405
@allthetime Oh, and I'm glad that you like the blog! It's always great to hear that it is useful even without prior system programming experience!

We are still working on the framebuffer support in `bootloader`, so the documentation is still lacking in many places. I hope that we get it improved soon.

[2019-09-09 15:03] 4arnica4 commented on #403
I have errors when compiling bootimage

~/os$ cargo bootimage
Building kernel
   Compiling bitflags v1.1.0
   Compiling llvm-tools v0.1.1
   Compiling array-init v0.0.4
   Compiling xmas-elf v0.6.2
error[E0463]: can't find crate for `std`

error[E0463]: can't find crate for `std`

error: aborting due to previous error

For more information about this error, try `rustc --explain E0463`.
error: abor

[2019-09-09 15:33] phil-opp commented on #403
@4arnica4 This error usually occurs if you have dependency on a crate that uses the standard library. Could you show us the code of your Cargo.toml?

[2019-09-09 15:40] 4arnica4 commented on #403
thx quick reply. only depend is on bootloader

~/os$ cat Cargo.toml
[package]
name = "os"
version = "0.1.0"
authors = ["bullseye"]
edition = "2018"

[dependencies]
bootloader = "0.6.4"

[2019-09-09 16:19] phil-opp commented on #403
@4arnica4 Thanks! I don't see any problem with your `Cargo.toml`. Which version of `bootimage` are you using (run `bootimage --version`)? Also, could you upload your complete code somewhere (e.g. in a Github repo) so that I can test it myself?

[2019-09-09 16:20] phil-opp commented on #403
@4arnica4 Alternatively, could you try running `cargo bootimage` on the [`post-02` branch](https://github.com/phil-opp/blog_os/tree/post-02) of this repository?

[2019-09-09 18:36] 4arnica4 commented on #403
After learning a bit of Git, got your post-02 branch to work, Now I just need to figure out what I did different. Thx for help.

[2019-09-09 19:00] allthetime commented on #405
@phil-opp that was definitely it. Thanks for everything. What's the best way to stay up on `bootloader` developments?

[2019-09-09 23:38] 4arnica4 commented on #403
The first "cargo xbuild" requires the --target option on the command line, as implied in the tutorial.

[2019-09-10 07:42] phil-opp commented on #403
@4arnica4 Thanks for the update! I'm still not sure how this can lead to the error you encountered, but great that you could solve it.

[2019-09-10 08:15] Muscraft commented on #403
not sure why but when running without this in the Cargo.toml you get
error: linker `rust-lld` not found
  |
  = note: No such file or directory (os error 2)
i added vvvvvvvvvvvvvvvvvv to the file and it worked after that not sure how to induce it again but i can try
[package.metadata.bootimage]
default-target = "x86_64-blog_os.json

[2019-09-10 08:52] phil-opp commented on #403
@4arnica4 Thanks again for reporting your issue! Since this seems like a common pitfall, I opened https://github.com/rust-osdev/cargo-xbuild/pull/44 to print a warning when accidentally building for the host system.

[2019-09-10 08:55] phil-opp commented on #403
@Muscraft What's your Rust version (`rustc --version`)? This error normally indicates that the `rust-lld` binary is not present in the Rust installation, which should only happen for old versions of Rust or if there was a temporary bug.

[2019-09-10 12:59] phil-opp commented on #405
@allthetime You're welcome!

I publish monthly status updates on the blog that include notable changes to the bootloader crate. The post about updates in August is available [here](https://os.phil-opp.com/status-update/2019-09-09/). You can also use GitHubs _Watch_ button with the _Releases Only_ setting on the https://github.com/rust-osdev/bootloader repository. Then Github will send you a mail w

[2019-09-10 17:09] Muscraft commented on #403
rustc 1.39.0-nightly (0b36e9dea 2019-09-09)

[2019-09-11 19:46] wgfm commented on #405
Hey @phil-opp, this blog is absolutely amazing! It teaches me about both rust and operating systems, two subjects I quite enjoy at the moment.

I just stumbled on this: I implemented the `fmt::Write` trait for `Writer`, and all was fine. Then I tried using the `write!` macro as follows:
[code]

but the program would not compile anymore, with a complaint about requiring the `owned_box` lang item.

[2019-09-13 07:44] phil-opp commented on #403
@Muscraft Thanks! I don't think that your nightly is the problem. Do you have your code online somewhere so that I can try to reproduce the issue?

[2019-09-13 07:50] phil-opp commented on #405
@wgfm Thanks for the nice words!

I tried to reproduce your issue, but using the `write` marco works fine for me. Do you have your code online somewhere so that I can take a look?

[2019-09-13 13:31] ambye85 commented on #405
@wgfm, I had the same issue. Like me, did you miss the addition of `use core::fmt::Write;` to the start of the `print_something()` function?

[2019-09-13 14:01] phil-opp commented on #405
@ambye85 Thanks! I can reproduce the issue this way. It seems to be a bug in the Rust compiler. I'm currently working on minimizing the issue and bisecting which nightly was first affected.

[2019-09-13 14:21] phil-opp commented on #405
@ambye85 @wgfm I opened an issue in the Rust repository for this: https://github.com/rust-lang/rust/issues/64430. Thanks for reporting!

[2019-09-16 22:19] EndeR583 commented on #591
I love your blog!
But I'm stuck at the trivial_assertion function, because when I try to run "cargo xtest", it doesn't compile die to a (SIGNAL: 11, SIGSEGV) error.
Do you have an idea why this is happening?

[2019-09-20 01:58] lielongxingkong commented on #591
A little mistake in sample code at [No Harness Tests](https://os.phil-opp.com/testing/#no-harness-tests). There is no import of serial_print function but used below and it causes a compiling error :)

[2019-09-20 08:05] phil-opp commented on #591
@lielongxingkong Thanks for reporting! Fixed in 9877e4c84d39e6f5d3ec30c10a5120302561abfc.

[2019-09-25 17:06] felixwatts commented on #403
I found this really well written and clear, not to mention amazing and useful work. Thanks!

[2019-09-25 17:24] phil-opp commented on #403
Thanks a lot, great to hear that you like it!

[2019-09-26 18:43] htbf commented on #570
I got around the type awkwardness / iterator inefficiency for the allocator as follows:

[code]

It's not perfect, and implementing `new` for `Empty` is a slightly weird artifact, but since only one implementation for `new` exists, you don't need to type annotate it and you can just call

[code]

[2019-09-27 04:23] hismito commented on #519
In Example Translation

The hex value should be `0x3000`?

[2019-09-29 13:10] phil-opp commented on #519
@hismito Good catch! Fixed in 0b971c9128ebf6e8184330c42a454467af7aec41.

[2019-09-29 15:12] phil-opp commented on #570
@htbf We used this approach in the first version of the post. The problem is that the generic type can't be named since it contains closures. For this reason, we [changed it](https://github.com/phil-opp/blog_os/pull/595) to the non-generic version to allow storing the `BootInfoFrameAllocator` in static variables more easily.

I plan to switch back to this version as soon as the [_Permit impl Trait

[2019-09-29 15:14] phil-opp opened #671 "Switch back to a generic BootInfoFrameAllocator as soon as type X = impl Trait is supported"
See https://github.com/phil-opp/blog_os/issues/570#issuecomment-535635252

[2019-09-29 16:13] bjorn3 commented on #671
[code]

is supported on nightly.

https://github.com/rust-lang/rust/pull/63180

[2019-09-29 17:39] andre-richter commented on #671
Comes with a big warning about it's stableness on compilation though.

[2019-09-29 17:42] bjorn3 commented on #671
I didn't see a warning:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dae9d5e0e0bcfb733a7ade49baf1e1dc

[code]

[2019-09-30 09:15] utterances-bot opened #672 "Comments for "https://os.phil-opp.com/status-update/2019-09-09/""
This is a general purpose comment thread for the [**Updates in August 2019**](https://os.phil-opp.com/status-update/2019-09-09/) post.

[2019-09-30 09:15] nrsina commented on #672
Thanks for your amazing blog. I really appreciate your hard work.

[2019-10-02 10:17] phil-opp commented on #672
@nrsina Thanks for your message! I'm glad that you like it.

[2019-10-03 06:16] oyagci opened #676 "Transparent background color in images cause trouble on black background"
Hi. I noticed that images have a transparent background.

This makes it hard to read them when we set a black background when there is black text on the image.

I think it would be much better to keep a white background on images.

What do you think?

[2019-10-04 18:32] #632 closed

[2019-10-06 08:17] GuillaumeDIDIER commented on #450
The bug for error code apparently has been fixed on rust nightly, perhaps this reference should be changed to the past. (There used to be a bug with LLVM, but it is now fixed in the latest nightlies)

[2019-10-06 14:03] phil-opp commented on #676
Makes sense! I will use a white background for future images and try to convert the existing ones when I have the time.

[2019-10-07 18:38] artizzq commented on #405
how do i output hardware information for example?

[2019-10-08 19:44] phil-opp commented on #405
@artizzq What hardware information do you mean?

[2019-10-09 06:00] artizzq commented on #405
CPU (name, cores, ghz) , GPU (name, memory capacity, current resolution) ,
RAM (memory capacity), HDD (name, full capacity), Sound Card (name), BIOS
info if its possible. Thank you in advance. I am pretty beginner ):

ср, 9 окт. 2019 г., 0:44 Philipp Oppermann <notifications@github.com>:

[2019-10-09 06:19] AntoineSebert commented on #405
@artizzq I'm not sure I understand hat you mean.
If your enquiry concerns the `blog_os`, I'm afraid it is not possible at the moment (@phil-opp am I right ?).
In case you really need this feature, you could try to come up with your own implementation, using the ACPI.
The official specification can be found here : https://uefi.org/specifications
You can also find useful resources such as :
- https:

[2019-10-11 14:47] faraazahmad commented on #449
This is my interrupts module
[code]

and I call the `init_idt()` from my main function, but I think I'm getting a triple fault (it keeps resetting). The double fault handler didn't help either. What do i do?

[2019-10-19 10:13] AntoineSebert commented on #676
I think the transparent background can be preserved if the text color is changed to a neutral color, such as `(127, 127, 127)`.
With the human eye accentuating the contrasts, it will appear closer to white on dark backgrounds, and closer to black on bright backgrounds, making it readable in both situations.

I have enclosed demo screenshots with the `color` attribute for the `<body>` tag set to `(

[2019-10-20 22:07] jos-b commented on #591
I'm absolutely stumped, I've been trying to get testing to work for an hour or so now to no avail.

I am at the end of the section `Exiting QEMU` and I'm trying to get the xtest to exit cleanly if QemuExitCode is set to Success and error if not but I get the following going on:
[code]

The exit code of this is `33`:
[code]

Which should be being mapped to 0 by the config:
[code]

but is not, any i

[2019-10-21 13:56] TomE8 commented on #405
In this section where you change the macros of print and println, you also redefine the `_print` function:

    pub fn _print(args: fmt::Arguments) {

        use core::fmt::Write;
        WRITER.lock().write_fmt(args).unwrap();

    }
In your last line, you call from your WRITER to `write_fmt`. However you didn't implement that function, you implemented `write_str` function (as I can see few line

[2019-10-21 15:05] AntoineSebert commented on #405
@TomE8 I am not very skilled in Rust, but I think that `write_fmt` is part of `core::fmt::Write`, that has been implemented for `Writer` with:
[code]
Only `Write::write_str` must be redefined, `Write::write_char` and `Write::write_fmt` are then provided.
You can find the related documentation here: https://doc.rust-lang.org/nightly/core/fmt/trait.Write.html

Hope it helps ! :)

[2019-10-22 12:07] stuaxo opened #681 "Separate the VGA text library into a crate ?"
I was having a look at [rusty-dos](https://github.com/Serentty/rusty-dos/issues) and it looks like  the VGA text mode code here, would be handy for writing a DOS app based on it.

Is it worth separating it into it's own crate ?

[2019-10-22 22:58] #681 closed

[2019-10-22 22:58] stuaxo commented on #681
Closing for now, as I probably need to learn a bit more rust + play with the code before working out if it's a good question.

[2019-10-23 05:49] AntoineSebert commented on #681
Well since the point of this blog is to teach people ho to make a simple OS of their own, they could not learn to use VGA anymore if it is supplied by a ready-to-use crate, even if it would be the logical choice in another context :)
Have a nice day !

[2019-10-23 08:34] elliott-wen commented on #570
I am pretty rusty in Rust. (Pun).

Just wondering why in the following statement

 // read the page table entry and update `frame`
   let entry = &table[index];

we need & before table[index];?

Cheers

[2019-10-23 09:02] bjorn3 commented on #570
If you dont use that `&` you are telling the compiler that you want the specific value at that offset, instead of a reference to it. `PageTableEntry` however doesnt implement `Copy`, so it cannot copy it,m and moving it is not allowed for indexing, as the compiler doesnt know at compile time which entry got moved. Because it can't copy and can't move the `PageTableEntry`, it gives a compile error.

[2019-10-23 09:20] elliott-wen commented on #570
@bjorn3 Thank you, that's pretty helpful. Kindly let me ask another silly question.

for &index in &table_indexes

I understand the second & means getting the iter() of the table_indexes,

but how about the first & in &index? I got quite confused

[2019-10-23 09:34] stuaxo commented on #681
Thanks, that expresses it better... think I was on the way to realising this :)

[2019-10-23 09:53] bjorn3 commented on #570
Behind the scenes for is syntax sugar for a while loop + matching on the result of iter.next(). This means that you can use patterns before the `in`, just like with matches.

The `&` of `&index` means that the item is a reference, and you want to get the value behind the reference:

[code]

[2019-10-23 12:20] phil-opp commented on #591
@jos-b Sorry to hear that you have problems with the post! Do you have your code online somewhere so that I can take a look?

[2019-10-24 00:42] elliott-wen commented on #570
Thanks it is really helpful.

Just one more question, getting the value behind the reference has
nothing to do with ownership right? Sorry, as an old C++ programmer, I feel
so confused about all the generation alpha concepts. :D

Cheers
Elliott

On Wed, 23 Oct 2019 at 22:53, bjorn3 <notifications@github.com> wrote:

[2019-10-25 23:25] jos-b commented on #591
Hey @phil-opp, thanks for getting back.

I've thrown the code up at https://github.com/jos-b/freja.

When running this copy of the code I get the following:
[code]

[2019-10-26 04:12] ethindp opened #683 "GDB configuration failures"
So, I don't know what I'm doing wrong in my OS but following the GDB guide that you provided and following the guide on OSDev Wiki both failed. If I load my kernel into GDB and run qemu with -s -S, then set a hardware-assisted breakpoint (or even a normal one) using both function names and file:line numbers, qemu completely ignores the breakpoint as though it weren't even there. It makes debugging

[2019-10-27 03:37] riczhao commented on #405
struct Buffer {
    chars: [[ScreenChar; BUFFER_WIDTH]; BUFFER_HEIGHT],
}
Is the 2D array happening to be allocated as row first or Is it guaranteed by compiler?

[2019-10-27 07:10] AntoineSebert commented on #405
I tried to look up for that on the internet, for the documentation of the native type `array` on rust-docs did not include the allocation order of nd-arrays.
According to [this post](https://www.joshmcguigan.com/blog/array-initialization-rust/) from 22/12/2018:

We can then conclude of the allocation order in the statement `chars: [[ScreenChar; BUFFER_WIDTH]; BUFFER_HEIGHT]`:
1. `[ScreenChar; BUFF

[2019-10-28 05:15] 64 commented on #683
How do you know the breakpoint is being reached in the first place? I have experienced buggyness with GDB + QEMU breakpoints as well, but using hardware assistance seemed to solve the problems. If all else fails I'd try using bochs which shouldn't have any such issues.

[2019-10-28 13:28] Cerberuser commented on #405
chars: [[ScreenChar; BUFFER_WIDTH]; BUFFER_HEIGHT],
}
Is the 2D array happening to be allocated as row first or Is it guaranteed by compiler?

I'm not sure what this question is about, but the simplest answer is - it is guaranteed to be allocated as written, i.e. as array of arrays, with each inner array being contigious.

[2019-10-29 00:36] stuaxo commented on #480
This is great, maybe I can finally output a keyboard handler that handles chords.. ie when you hold down DOWN and RIGHT, it will continuously repeat DOWN then RIGHT so diagonal scrolling comes for free.

[2019-10-29 11:27] phil-opp commented on #405
@riczhao Rust guarantees that arrays are contiguous, so each element is directly adjacent to its predecessor. Consequently, this means that the inner arrays are adjacent in memory too, as @Cerberuser said. So two-dimensional arrays are always stored in [row-major order](https://en.wikipedia.org/wiki/Row-_and_column-major_order) in Rust.

[2019-10-30 13:25] GuillaumeDIDIER commented on #449
@phil-opp : With SSE enabled there are nasty stack alignment issues in interrupt handlers that push an error code. I am trying to understand what is going on but it looks like a compiler bug, and I have seen that you authored https://reviews.llvm.org/D30049 which tried to solve it, but apparently doesn't fix the issue entirely. (I get explosion when calling panic in my double fault handler), which

[2019-10-30 13:29] GuillaumeDIDIER commented on #449
[code]
Generates the following code
[code]

[2019-10-30 13:42] GuillaumeDIDIER commented on #449
Properly formatted assembly.
[code]

At the beginning of the function the stack is 0 mod 16 aligned (6 64 values were pushed, SS, ESP, RFlags, CS, RIP, Error code). Due to the double tax push (which is only a single push on interrupt handler with no error codes), the stack is then 16 bits aligned before 0x0020132e, and thus 8 mod 16 aligned after. The movaps afterwards use the offset properly, how

[2019-10-31 16:43] #683 closed

[2019-10-31 16:56] ethindp opened #684 "Peculiar page fault after all kernel init sequences are finished"
Whenever my kernel finishes its initialization tasks and says "kernel init done!" it page faults for no reason at all. In debug mode, it page faults with a "page not present" error, with the caused_by_write bit clear and the CR2 register pointing to address 60BC20h and in release mode it page faults with a protection violation at address 200244h. At first I thought this was because of SSE, so I co

[2019-11-02 13:18] phil-opp commented on #591
@jos-b For me `cargo xtest` on your project succeeds with a `0` exit code. Maybe your `bootimage` version is too old and does not know the `test-success-exit-code` flag yet (it was added in version 0.7.2)?

[2019-11-02 14:01] jos-b commented on #591
@phil-opp Don't think that is the case, if it didn't recognise it then it would error I believe.

Running version `0.7.7` of bootimage:
[code]

[2019-11-02 14:44] phil-opp commented on #591
@jos-b

You're right. I'm not sure what's the problem then. I created a `dbg!` annotated `bootimage` version in a `debug-exit-code-mapping` branch. Could you try it and post the output? You can install it through:

[code]

[2019-11-02 14:48] jos-b commented on #591
@phil-opp

Output from the debug version is as follows:

[code]

[2019-11-02 14:50] jos-b commented on #591
Also might be relevant that when I exit with `QemuExitCode::Failed` I still see the 33 error code?

[2019-11-02 15:12] phil-opp commented on #591
@jos-b The problem is the `exit_status.code() = None` part. This means that we somehow did not get the exit code of QEMU. I assume this is a problem of the `wait_timeout` crate, but I'm not sure yet.

You also uncovered a second bug in `bootimage`: If no exit code is returned, we exit with the `test-success-exit-code` instead of a standard `1`. I will push a fix in a moment.

[2019-11-02 15:18] bjorn3 commented on #591
(unrelated to the `exit_status.code() = None` problem)

I noticed that the runner function always returns the expected code, instead of actual:

https://github.com/rust-osdev/bootimage/commit/737c279698c1267582ce59628c430ec11d71c1a3#diff-aa77ffcc64bc1157fa4705f6b5baf3ccR77

The thing being matched on is `config.test_success_exit_code`, not `exit_status.code()`, so `other` gives the expected error

[2019-11-02 15:28] phil-opp commented on #591
@jos-b @bjorn3 I opened https://github.com/rust-osdev/bootimage/pull/47 to fix the wrong exit code. It also adds a error message if failed to retrieve the QEMU exit code.

[2019-11-02 15:31] jos-b commented on #591
Brilliant, thanks. So being unable to find the QEMU exit code is a weird one, QEMU on MacOS is quite buggy now due to some issues with it working on Catalina, installing can be a bit of a hassle.

[2019-11-02 15:41] bjorn3 commented on #591
https://doc.rust-lang.org/stable/std/process/struct.ExitStatus.html#method.code

QEMU may have exited due to a signal, instead of `exit()`. For UNIX you could use the [`ExitStatusExt::signal`](https://doc.rust-lang.org/stable/std/os/unix/process/trait.ExitStatusExt.html#tymethod.signal) method to get the signal code.

[2019-11-02 15:43] phil-opp commented on #591
@jos-b I looked into the exit code issue and it has nothing to do with the wait-timeout crate. According to the standard library documentation, the [`ExitStatus::code`](https://doc.rust-lang.org/std/process/struct.ExitStatus.html#method.code) method can return `None` when the process has no exit code. It mentions an example where this can happen:

[2019-11-02 15:49] jos-b commented on #591
Ah okay, interesting. Thanks.

[2019-11-02 15:52] jos-b commented on #591
So in this case I'm not intentionally trying to terminate QEMU with a signal here, QEMU should be exiting itself right? Is there anyway to get information about the success of an exit?

[2019-11-02 16:07] phil-opp commented on #591
@jos-b I'm not sure what the problem is. I pushed a second commit to rust-osdev/bootimage#47 that prints the signal number if no exit code exists. Maybe this helps with debugging. You can install it through:

[code]

[2019-11-02 22:03] zbidwell commented on #591
I've been having a tough time getting QEMU to do the serial printing stuff on Windows 10. Everything compiles fine and runs without error, but nothing is sent to my console. It seems `-serial stdio` is only supported on unix according to the QEMU docs. I've tried a handful of other options, but the best I could get was some booting junk in a log file (and nothing from our serial_print stuff).

[2019-11-02 22:16] phil-opp commented on #591
@zbidwell You're the first one that reports such issues. Which shell are you using (e.g. `cmd` or Powershell)? I don't have a Windows machine at hand right now, but at least on our CI machine console output works as expected on Windows…

[2019-11-02 22:38] zbidwell commented on #591
I use git bash, but I had tried on cmd and powershell as well to double check and neither worked.

I just cloned the post-04 branch and ran `cargo xtest` and did get the expected output, so I must have missed something. I'll get back to you here when I figure out what the difference was.

[2019-11-02 22:43] phil-opp commented on #570
@elliott-wen In general it's not allowed to take the value behind a reference because it takes ownership, which is not allowed for references (aka "borrows"). What you can do, however, is to duplicate the value, while leaving the original value in place and thereby preserving ownership.

Depending on the value, there are different ways to duplicate it. Some values implement the [Clone](https://doc

[2019-11-02 22:50] zbidwell commented on #591
So turns out I created the SerialPort at `0x3FB` instead of `0x3F8` 🤦.

Thanks for the help and quick response! I would have kept assuming it was a Windows or QEMU issue if you didn't let me know it was working on windows CI.

[2019-11-02 23:25] phil-opp commented on #591
@zbidwell Thanks for the update! I'm glad to hear that it works now.

[2019-11-03 12:14] dancek commented on #591
Thanks for a great series of tutorials!

I didn't like repeating similar `serial_print!` calls in every test case, so I wrote a helper macro. Writing it is probably unnecessarily complicated for this tutorial, but maybe someone felt the same way and is interested in the code. https://github.com/dancek/my-first-os/commit/629e81e2e8a5baa8cc2eb7c85e6b4f4bbd424f5e

With that you can write tests like
[

[2019-11-04 13:11] GuillaumeDIDIER commented on #449
Update on the hack :
The hack does mess up access to the arguments. The full hack I now use is
[code]

(and don't forget to undo the push before returning, and read carefully the resulting assembly in the compiled kernel)

[2019-11-04 13:22] GuillaumeDIDIER commented on #684
If you are referring to my hack involving push rax, be aware that it messes up the access to the arguments. I have posted an updated hack that includes some more pointer arithmetic. The real fix would probably need someone to dive again in LLVM x86-interrupt calling convention (which sadly seems to be rather tacky and brittle right now)

Otherwise a bit of debugging advice:
This kind of bug may re

[2019-11-04 13:24] GuillaumeDIDIER commented on #684
Also I have found that bochs could be very helpful thanks to its integrated debugger that can give out CPU state that gdb does not.

[2019-11-04 13:32] ethindp commented on #684
Yeah, I gathered that the calling convention was brittle after finding
that a hack was necessary at all. I can understand why though -- LLVM
is doing something that's never been done before (I don't think
anyway). The strange thing is that after I broke my AHCI driver even
more and it stopped printing its debugging output about reading
sectors the page fault immediately vanished. So I'm just now c

[2019-11-08 10:59] gondolyr commented on #449
The first time the `double_fault_handler` function is defined in this post, a `panic!` is used, however, the source code for the [`interrupts.rs` file in this post](https://github.com/phil-opp/blog_os/blob/post-06/src/interrupts.rs#L36) shows a different definition, shown in the second code block below, where a `println!` and `loop {}` are used instead. The blog post never mentions this change and

[2019-11-08 12:52] samgiles commented on #283
My test for this works with `--release` optimisations on:

[code]

[2019-11-11 03:38] 64 commented on #283
Can you elaborate on the paging issues? It's a known issue that all of the accesses to the page tables should be volatile and ideally non-tearing-guaranteed (probably through inline asm), but I haven't heard of any problems with these things in practice.

[2019-11-11 08:44] Dentosal commented on #283
@64 Unfortunately, I never really solved the issues. I didn't know how to use bochs debugger then. My paging code was a huge mess anyways, so I have rewritten it twice since then. I'm now using `PageTable` struct from `x86_64` crate with [my own custom mapper](https://github.com/Dentosal/rust_os/blob/42705825fda89b98ea01948f06a8e51270ee4d06/src/memory/paging/mapper.rs#L49), and it seems to work. N

[2019-11-11 10:09] arnoldcui commented on #403
After I add bootloader to `Cargo.toml` file ,the rls show me an error.But it still can run `cargo xbuild` successfully.

My version is:
rustc 1.40.0-nightly (3fc30d884 2019-11-10)
cargo 1.40.0-nightly (5da4b4d47 2019-10-28)
rls 1.40.0 (5db91c7 2019-10-30)
![WX20191111-180740](https://user-images.githubusercontent.com/40977489/68579053-3f3cef00-04ae-11ea-8e46-6f11eb2d2038.png)

[code]

[2019-11-11 10:49] phil-opp commented on #403
@arnoldcui It's difficult to diagnose without any error message. Could you try executing the reported command in a terminal to see if any error messages are printed?

[2019-11-11 16:12] arnoldcui commented on #403
Thanks you reply.
It looks has some mistake to the hint in the editor.
So I ran this command
[code]
Then it gave me
[code]
I have set the `RUST_TARGET_PATH` .So that I can run `xargo build --target ./x86_64-hello_os` successfully.
and I have find an issues about  [RLS](https://github.com/rust-lang/rls/issues/309)
Maybe It is a problem about rls?

[2019-11-12 09:30] arnoldcui commented on #403
I solved my problem in [this way](https://github.com/rust-lang/rls/issues/904#issuecomment-506642400)

[2019-11-15 20:07] djhworld commented on #403
forgive me, does this mean _beyond_ the buffers end?

[2019-11-16 08:26] shakram02 commented on #627
Hey Philipp, thank you for the great post (as always :v:)

I wanted to note that I think now it's possible to move the allocator to its own module and out of `lib.rs` because of this (PR)[https://github.com/rust-lang/rust/pull/62735].

Can't wait for your next tutorial!

[2019-11-16 18:03] phil-opp commented on #403
@arnoldcui

You found the right issue! I plan to use the new [`-Zbuild-std` flag](https://github.com/rust-lang/cargo/pull/7216) instead of cargo-xbuild as soon as it's more ergonomic to use. Then RLS should work out of the box.

[2019-11-16 18:09] phil-opp commented on #403
@djhworld

Yes, that's what I meant. Sorry for the confusion! Would you mind sending a pull request to fix this?

[2019-11-20 02:49] andyhhp commented on #449
@phil-opp You have a rather subtle bug in the TSS stack.  While the size (4K) is reasonable, it doesn't have any explicit alignment, whereas the x86_64 ABI requires 16 byte alignment.

What will happen in practice is that the processor will align the provided pointer down to 16 bytes first, then start using it.  A double fault handler which expects to have exactly 4k of stack space might find itse

[2019-11-20 14:29] phil-opp commented on #676
@oyagci I'm very short on time at the moment, so I don't think that I'll be able to convert the existing SVGs soon. However, if you change the background color by editing CSS, you could just add `img { background-color: white; }` to fix the readability issue. Does this work for you?

[2019-11-21 00:57] andyhhp commented on #570
For recursive pagetables, there is a massive disadvantage which I've never seen described in hobby kernel discussions.

When accessing pagetable entries in the recursive part of linear address space, you create structure cache and TLB entries for each memory location you access (even speculatively, so all bets off in practice).

These are not flushed by the INVLPG instruction because, while INVLPG

[2019-11-22 12:01] oyagci commented on #676
@phil-opp I didn't know this was possible. It works great!

[2019-11-22 12:22] phil-opp commented on #676
Great!

[2019-11-22 13:53] phil-opp commented on #449
First of all: Sorry for the delay everyone! I've been very busy over the last two months and havent't had the time to respond to this thread. I'll try my best to reply to all your comments by next week.

[2019-11-22 13:59] phil-opp opened #686 "TSS stack should have 16-byte alignment"
Reported in https://github.com/phil-opp/blog_os/issues/449#issuecomment-555811809:

[2019-11-22 14:38] phil-opp commented on #449
@andyhhp Thanks a lot for your comment! Lots of useful information!

Good catch! I opened https://github.com/phil-opp/blog_os/issues/686 to track this.

Interesting! I didn't know that the stack pointer is aligned down when used. I expected that a misaligned pointer causes an exception of some sort. Either way, we should definitely fix this, even if a handler that uses exactly 4k stack space is un

[2019-11-22 14:48] phil-opp commented on #449
@gondolyr

Good catch, thanks a lot! I opened https://github.com/phil-opp/blog_os/pull/687 to fix the `post-06` branch.

[2019-11-25 15:13] phil-opp commented on #449
@L3tum

Interesting idea! I don't think just checking for panic is not enough, since then the test would also pass e.g. on an out of bounds array access. However, we could check the panic message and determine whether it contains "EXCEPTION: DOUBLE FAULT".

I tried this approach here: https://gist.github.com/phil-opp/891f4d49255a430d9c7c502f7b23c2d2. It works fine, but it also requires a lot of bo

[2019-11-25 15:19] phil-opp commented on #449
@ faraazahmad

Great that you figured it out! We're aware of the issue that the IDT initialization needs a lot of stack space and we're trying to fix it: https://github.com/rust-osdev/bootloader/issues/79

[2019-11-25 15:58] phil-opp commented on #449
@GuillaumeDIDIER

Sorry for replying so late. There was a recent refactor of the `x86-interrupt` related code in LLVM (not by me), maybe this caused the issue. I'll try to take a look.

Let's continue this conversation in https://github.com/phil-opp/blog_os/issues/684.

[2019-11-25 16:50] L3tum commented on #449
@phil-opp

Thanks for trying it out! I didn't know about the need for `core::fmt::Write`, I honestly expected a simple compare to be enough. It may be a good "alternative" implementation to avoid the duplication of code IMO

[2019-11-25 17:02] bjorn3 commented on #449
I think using `struct DoubleFaultPayload; panic!(DoubleFaultPayload)` and then `panic_info.payload().downcast_ref::<DoubleFaultPayload>().is_some()` would work.

[2019-11-26 11:55] phil-opp commented on #449
@bjorn3 Unfortunately this does not work in `no_std` crates, because `core` defines [its own `panic` macro](https://github.com/rust-lang/rust/blob/0f6f66fcdc4abf110171ee06b1a72bdd2883b74f/src/libcore/macros/mod.rs#L10-L26) that points to [`core::panicking::panic`](https://github.com/rust-lang/rust/blob/0f6f66fcdc4abf110171ee06b1a72bdd2883b74f/src/libcore/panicking.rs#L38) when invoked with a singl

[2019-11-26 12:04] phil-opp commented on #449
@L3tum

Yeah, it's unfortunate that one has to go through the whole formatting process. Maybe we can get an unstable `starts_with` method for `fmt::Arguments` into the Rust core library.

[2019-11-26 13:43] phil-opp commented on #591
@dancek Nice! It is also possible to define a procedural macro that can be applied like the `#[test_case]` attribute. So instead of `#[test_case]`, one would write e.g. `#[kernel_test]`. I already implemented a prototype for this, but I can't find it right now. It required quite a bit of boilerplate code though, so I decided against using it for the blog.

[2019-11-27 02:58] andyhhp commented on #449
@phil-opp No problems at all.  I'm actually approaching this the other way round - knowing a thing or two about x86, and wondering what this "rust" thing is all about :smile:

This is a property that was introduced in 64bit along with the expectation of having 16-byte aligned stacks.  Some OSes (Windows) let drivers use FPU operations, and spilling %xmm registers to the stack with aligned rather t

[2019-12-01 19:44] workingJ commented on #403
Hi, i really appreciate the work you have done here.
I followed step by till the and of this chapter and every thing works nice,
except:  if i boot the image in qemu it doesn't display the hello world line...
I already removed and installed qemu again and check the code twice, but still,
it brings me no hello world line.
qemu shows something while booting but it is too fast to read it.

any idea?

[2019-12-01 19:48] workingJ commented on #403
oh boy i got error, had an typo in: ```*vga_buffer.offset(i as isize * 2 + 2) = 0xb;```
sorry for the noise...

[2019-12-02 12:28] phil-opp commented on #403
@workingJ No worries, thanks for the update!

[2019-12-02 23:55] ethindp opened #696 "Dynamic driver registration"
I would like to divide my kernel up into a feature-based architecture, equivalent to something like what Linux does. Right now I can't read data from disk yet so the full dynamic modules system is out for now. However, I would like to try something different. Here's what I'd like to do.
The programming language [go](www.golang.org) has a special function that you can define, called init, that is a

[2019-12-03 11:38] phil-opp commented on #696
You could use e.g. a system call to let the driver register itself.

You could use [trait objects](https://doc.rust-lang.org/book/ch17-02-trait-objects.html), which are dispatched at runtime.

[2019-12-03 15:23] ethindp commented on #696
I haven't actually added syscalls yet, so the first suggestion is out.
The second idea is a good one, but I don't know what drivers may be
registered in the list (perhaps some failed to register themselves,
for example). I found the init crate
(https://github.com/mehcode/init-rs), but Idon't know if that works in
no-std environments -- I'll look into that.

On 12/3/19, Philipp Oppermann <notificat

[2019-12-06 08:09] ethindp opened #697 "Decoupling bootloader and kernel"
I am curious as to how much work would be involved in this.

I am thinking about making it possible for my kernel to take advantage of features that (say) GRUB offers (i.e. loading modules, command-line arguments, ...). However, the bootloader that the kernel uses right now does not allow this. If I were to take the existing bootloader code (i.e. asm and all), would there be an easy way of incorpo

[2019-12-07 20:07] FireCubez opened #698 "Error: The `bootloader` dependency has not the right format: bootloader has no executable"
I was following [this](https://os.phil-opp.com/minimal-rust-kernel/), but when I ran `cargo bootimage` I get the error in the title. What's happening?

[2019-12-07 20:39] FireCubez commented on #698
Nevermind, I didn't have the correct bootimage version

[2019-12-07 20:39] #698 closed

[2019-12-12 11:57] phil-opp commented on #696
I don't understand how an before-main `init` function would solve your problem. What can you do in the init function that you can't do in `main`?

[2019-12-12 19:19] ethindp commented on #696
I am looking to automatically add driver information (i.e. PCI class,
subclass, ...) so I can initialize them while scanning for devices.
But I want to do this in suc a way that I don't need to call any of
those functions manually.

On 12/12/19, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2019-12-13 11:12] phil-opp commented on #696
So your kernel scans for devices and then calls the `init` function of drivers with information about PCI etc? What's the difference from calling `main` with this information?

[2019-12-13 20:57] ethindp commented on #696
What my kernel does right now is inflexible: if I add a driver (say,
for networking) I then have to manually extend the configuration
routine to call that driver. What I'd like to do is to alter that such
that the drivers will tell the kernel what they support (eg PCI
subclass, class and program interface) without a user then needing to
modify any other part of the kernel other than their own driv

[2019-12-14 16:16] scOwez commented on #403
Looks like there is a undocumented `x86_64-unknown-uefi` at the bottom of <https://forge.rust-lang.org/release/platform-support.html> for uefi support (I know this is bios-only for now). Does anyone know anything more about this?

[2019-12-14 16:17] scOwez commented on #403
Found the pr for it, looks interesting for UEFI booting: https://github.com/rust-lang/rust/pull/56769

[2019-12-15 23:05] bringhurst opened #706 "Could use a name other than "blog_os""
How about "rustix"? :)

[2019-12-17 14:04] guoxbin commented on #403
Just a remind, QEMU 4.1 will hang on macosx, you need upgrade to QEMU 4.2

[2019-12-18 10:56] phil-opp commented on #706
Thanks for the suggestion! However, there are already a few projects named "rustix": https://github.com/search?q=rustix&type=Repositories

Also, naming is hard. Maybe the name "blog_os" isn't the most creative one, but I think it describes the essence of the project quite well: It is the byproduct from the "Writing an OS in Rust" blog with a focus in teaching (in contrast to a stand-alone project

[2019-12-18 10:56] #706 closed

[2019-12-19 12:10] phil-opp commented on #696
Just to clarify: You mean an `init` function for each of your drivers (that each add themselves to the arrary) or an `init` function for your kernel (that looks for available drivers and adds them all)? In case you mean the latter: This could be done by using a [cargo build script](https://doc.rust-lang.org/cargo/reference/build-scripts.html), which runs before your kernel is compiled. It could e.

[2019-12-19 12:17] phil-opp commented on #697
The [first edition](https://os.phil-opp.com/first-edition/) of the blog used GRUB as the bootloader. Compared to the `bootloader` crate, the GRUB bootloader is more rudimentary: It also loads the kernel from disk, but only sets up a very basic page table mapping, which makes it necessary to [remap the kernel](https://os.phil-opp.com/remap-the-kernel/) a second time.

The purpose of `bootimage` is

[2019-12-20 07:01] teknoman117 opened #707 "Disabling hardware atomic instructions / providing custom implementation?"
This is more of a question than an issue.

I'm wondering if anyone knows of a way to provide an alternative implementation of the atomic operations used within the alloc crate.

For my own amusement, I've been following along with this series and porting it to a _really_ old single board computer that has an 80386EX in it. Figured, well, it's the first x86 cpu with an MMU, so what might go wrong?

[2019-12-20 09:28] teknoman117 commented on #707
Found a way to disable the atomics, needed to add this in the target json file (no quotes around the number is apparently important).
[code]

Now need to figure out how to provide my own version of those core::sync::atomic structs, as core no longer compiles, pretty much expected that through.

[2019-12-20 09:32] phil-opp commented on #707
I don't think that you have to disable atomics entirely. Instead, you could tell LLVM to compile for a i386 instead of the default [generic x86 CPU](https://github.com/llvm/llvm-project/blob/f688570d5c5493e969d5fca599d6eb8a796e27ca/llvm/lib/Target/X86/X86.td#L981-L982), which uses more recent CPU features including `cmpxchg`. Try explicitly setting the [`cpu` key](https://doc.rust-lang.org/nightly

[2019-12-20 09:36] teknoman117 commented on #707
Here's my current target specification file. If I take out "max-atomic-width", it generates the compare and swap instructions.
[code]
(it's set to code16 as I don't have my switch to protected mode quite setup yet, need to implement writing to the serial port for debugging as I don't have video output on this board).

[2019-12-20 09:41] phil-opp commented on #707
Have you tried to additionally pass `-C target-cpu=i386` to `rustc`?

[2019-12-20 09:43] phil-opp commented on #707
You could also try adding `-cx8` to the `features` in your target JSON. This should explicitly disable the CMPXCHG8B instruction.

[2019-12-20 09:53] teknoman117 commented on #707
Doesn't look like they have a flag to disable it (that's the 8 byte version, the one that's getting generated for me is the original "CMPXCHG" instruction, the 4 byte / 32 bit one).

[2019-12-20 10:08] phil-opp commented on #707
Ah ok. Still, LLVM should not create a `cmpxchg` instruction if you specify a CPU that doesn't support it. They even mention that the 80386 does not support `cmpxchg` in https://releases.llvm.org/9.0.0/docs/Atomics.html#atomics-and-codegen :

[2019-12-20 10:09] phil-opp commented on #707
Have you tried disabling the [`atomic-cas`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_target/spec/struct.TargetOptions.html#structfield.atomic_cas) feature flag in your target JSON?

[2019-12-20 10:17] teknoman117 commented on #707
Ah, I spelled it wrong. had "atomic_cas". Thanks for that. Still breaks though, looks like the spin crate explicitly uses compare and swap.

[code]
Oddly, the every x86 processor does sort of support the fetch_{sub,and,add} operations, but it doesn't return the value, but it will add/sub/and to the memory location atomically.

[2019-12-20 10:19] phil-opp commented on #707
According to the documentation linked in https://github.com/phil-opp/blog_os/issues/707#issuecomment-567869608, LLVM should be able to emulate compare and swap instructions using mutexes. The question is whether the Rust compiler supports this.

[2019-12-20 10:34] phil-opp commented on #707
Regarding the spin issues: I think it's easier to write a custom version of `spin` without relying on hardware support instead of reimplementing the full `sync::atomic` module.

Wikipedial lists a number of [software solutions](https://en.wikipedia.org/wiki/Mutual_exclusion#Software_solutions) to the mutual exclusion problem, which all work without special hardware instructions. There is also an [

[2019-12-20 10:35] teknoman117 commented on #707
Thanks!

[2019-12-20 10:35] #707 closed

[2019-12-22 12:33] TheBegining commented on #386
I am doing translation.And I have some doubts.
Can I think of `the normal entry point chain` as ` the normal entry point`

[2019-12-22 13:31] bjorn3 commented on #386
@TheBegining Normally there is a `#[lang = "start"]` function defined in `libstd` which gets `main` as argument. This function first performs some initialization like setting up a stack guard and storing the arguments of the process at a specific location. It then calls `main`. By using `#![no_main]` there doesn't need to be a `#[lang = "start"]` function, instead you have to define the entrypoint

[2019-12-22 21:23] Stuart0l commented on #403
Hello Phil, thank you for providing this wonderful tutorial. However, I have some problem in printing the words on the screen. I'm using rust 1.42.0-nighty. My system is Ubuntu-18.04 running on VMware with intel core i7 8565u cpu. Here is my problem:

Now I have two "hello world", one is ```hello_b```, another is ```hello```. Now I tried to use the ```hello_b``` to print:
[code]
However, this ends

[2019-12-22 22:07] bjorn3 commented on #403
You should use `write_volatile` to write to the vga buffer. Otherwise the compiler is allowed to remove the writes. Not sure if it will fix the problem though.

[2019-12-23 03:54] Stuart0l commented on #403
@bjorn3 This should not be where the problem is. I give a try and the output is the same unknown characters. In fact, there are instructions for the write operation in the disassembled [code](https://godbolt.org/z/JLieBG):
[code]
I guess the problem might be the program didn't load the characters into vga buffer from the correct place, that is, the place where the program try to find the "hello wo

[2019-12-23 08:21] bjorn3 commented on #403
Did you forget to push your rust code?

[2019-12-23 08:35] Stuart0l commented on #403
Well, since I haven't fixed it I didn't push yet. Now I pushed it to the dev branch and you can check it out. Thanks.

[2019-12-23 08:50] bjorn3 commented on #403
You may need to set `options.position_independent_executables` to true on your target json. Otherwise the kernel must be placed at a specific address determined.

[2019-12-23 10:12] Stuart0l commented on #403
@bjorn3 Thank you for your advice. But I still think this is not the problem. After trying another code I found this could be an issue. I reported it [here](https://github.com/rust-lang/rust/issues/67554#issue-541678679)

[2019-12-24 07:48] Stuart0l commented on #403
@bjorn3 I think I found where the problem is. It lies in linking. My booting code has a .rodata section and a .text section, and my compiled rust code also has a .rodata section and a .text section. During linking the linker just link the two .rodata together (so do the two .text section). Since the program uses the rip-relative addressing to address the data in the .rodata section:
[code]
now mer

[2019-12-28 13:38] toothbrush7777777 commented on #627
@phil-opp As @shakram02 noted, rust-lang/rust#62735 now makes it possible to define the global allocator in a submodule.

[2020-01-01 17:34] foxcob commented on #570
Thank you so much for the work you've done on this blog and continuing to share it.  I've been following along and creating my own kernel with some differences from what you've done, but so far it has been very successful thanks to the work you've done and the crates you're providing.  I do have one question regarding the mapper and the restriction (even if not strictly enforced) to using UnusedPh

[2020-01-03 02:18] ethindp opened #710 "x86_64 compilation error for memory management"
I just updated x86_64 to 0.8.2 (the latest stable release) with cargo update. Now I'm getting this error:
[code]
Wat do I need to change my memory management code to? Do I just change that function to use UnusedPhysFrame and all will continue to work as before, or do I have to some in depth code surgery?

[2020-01-03 10:28] phil-opp commented on #710
See the [Changelog of `x86_64`](https://github.com/rust-osdev/x86_64/blob/master/Changelog.md). The change that causes this error is likely:

To fix this, you need to use the new `UnusedPhysFrame` type. See the diff for the blog: https://github.com/phil-opp/blog_os/pull/703/files

[2020-01-03 21:17] ethindp commented on #710
OK, I think I fixed it. I'm now getting a page fault at memory address
0, which is odd. It happens just after my PCI scan starts when I go to
add a device. WhenI acquire the mutex lock, it page faults. The source
appears to be the spin crate, but I don't know why that would be
(unless they've changed something over there). My PCI code is at
https://github.com/ethindp/kernel/blob/master/src/pci.rs.

[2020-01-03 21:57] ethindp commented on #697
Would it be possible to do something like what the first edition was with the current bootloader that we use and then let the bootloader actually load the OS to get multiboot2 working? Or would we need to do some in-depth surgery to get it working?

[2020-01-04 01:31] ethindp commented on #710
Fixed the problem. Thanks for the help :)!

[2020-01-04 01:31] #710 closed

[2020-01-04 20:36] ethindp commented on #696
Sorry for being so late on this issue, I had completely forgotten about it. :) The solution that your proposing sounds perfect. It would also add static checking of whether a driver conforms to the driver interface via the compiler. Thanks! :)

[2020-01-04 20:36] #696 closed

[2020-01-04 20:41] #656 closed

[2020-01-04 20:41] #642 closed

[2020-01-04 20:42] #631 closed

[2020-01-05 04:19] Fibration commented on #386
@phil-opp Thanks for the tutorial. I have been enjoying following it so far. I am stuck at `cargo xbuild` and have checked against your files in the post-02 branch to make sure that everything is identical.

I am receiving the following error at the end of `cargo xbuild`:
[code]

Cargo now uses a more informative error message. [Issue here](https://github.com/rust-lang/cargo/pull/5250). I assume t

[2020-01-05 18:12] phil-opp commented on #386
@Fibration

`cargo-xbuild` just calls out to the `cargo` you have installed. Maybe you did not add a nightly override for your directory (either though `rustup override add` or a `rust-toolchain` file) so that the default `cargo` is a stable version instead of a more recent nightly version?

Either way, the old error message contains the same number of information, it just uses a different formula

[2020-01-05 18:15] phil-opp commented on #656
Sorry for not replying to this!

Maybe someday. However, there are other topics that I want to cover first.

[2020-01-05 18:19] phil-opp commented on #684
I assume this issue isn't solved yet? Then we should probably leave this issue open or open a new one about the SSE bugs with the `x86-interrupt` calling convention in LLVM.

I didn't have the time to look at this issue since my comment in https://github.com/phil-opp/blog_os/issues/449#issuecomment-558219902 unfortunately, but I plan to get it fixed eventually.

[2020-01-05 18:20] phil-opp commented on #696
Great to hear! You're welcome.

[2020-01-05 18:31] phil-opp commented on #710
Great, thanks for the update!

[2020-01-05 18:36] phil-opp commented on #697
I'm not quite sure what you mean, so please let me know if this doesn't answer your question:

The `bootloader` crate does the low-level kernel loading that GRUB does and then additionally sets up a safe and ergonomic execution environment for the kernel. The easiest way to support multiboot2 would be to combine the later stages of `bootloader` that set up the environment with the low-level loadin

[2020-01-05 19:02] phil-opp commented on #450
@GuillaumeDIDIER Good catch, thanks for reporting (and sorry for the late reply)! I removed the sentence about the bug in https://github.com/phil-opp/blog_os/pull/711.

[2020-01-05 19:51] ethindp commented on #684
I haven't encountered it since I managed to fix it, but I presume
that, should I print enough strings, I'll encounter that same page
fault again.

On 1/5/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-01-06 05:50] ethindp commented on #697
So, lets say I do go ahead and decouple my kernel from the bootloader crate. What would I need to do to recreate that safe and ergonomic environment that the bootloader creates? I know I would need to initialize paging, but what else would I need to do?

[2020-01-06 19:17] ethindp commented on #684
Reopening this issue because I'm now experiencing this same page fault at supposed address 0. I've temporarily disabled my AHCI driver in favor of ATA for now. Port IO works... sort of. Here's how the page fault happens:
[code]
My ATA driver consists of enumerations for ATA commands (write buffer, write stream ext, ...). The system is page faulting either in the call itself or in the type cast. Th

[2020-01-06 19:31] ethindp commented on #684
Update: the page fault appears to come from the outb() itself, not the conversion. Now I'm definitely confused.

[2020-01-07 18:39] ethindp opened #713 "Creating a CDROM image"
I need to build an Iso image of my kernel but I can't seem to find the article that talks about that. Could someone point me tothose instructions?

[2020-01-08 09:09] phil-opp commented on #713
The `bootimage` tool creates a disk image that you can boot from an USB stick. To boot from a CD, you need to create an image that implements the "El-Torito" CD-booting standard. See the article in the OSDev wiki for more information: https://wiki.osdev.org/El-Torito

[2020-01-08 11:31] phil-opp commented on #627
@shakram02 @toothbrush7777777  Thank you for reporting this and sorry for the late reply. I created https://github.com/phil-opp/blog_os/pull/714 to move the `#[global_allocator]` into the `allocator` module in the `post-10` branch and I will create a second pull request to update the blog text in a moment.

[2020-01-08 17:45] ethindp commented on #713
Yeah, I figured that out, but I'm now suffering the part where the
bootloader gets stuck trying to boot at stage one. There's a related
issue in the bootloader repository for that one.

On 1/8/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-01-19 20:42] fkrunic opened #717 "Possible Typo's: Freestanding Rust Binary"
These may be unintended typos in `A Freestanding Rust Binary`:

Original: "... the entry point should **e.g.** invoke the exit system ..."
Revised:  "... the entry point should invoke the exit system ..."

Original: "So **it probably** for any real use of such a binary, more steps are required."
Revised: "So for any real use of such a binary, more steps are required."

The content is great - keep

[2020-01-19 22:32] ethindp opened #718 "A question on multitasking"
Hey all,
I've been reading [this tutorial on multitasking](https://wiki.osdev.org/Brendan%27s_Multi-tasking_Tutorial) and am a bit confused on the assembly interoperability. In the section entitled 'Step 1: Initialization and "Switch_to_task()"', the following ASM is given:
[code]
If we're in protected mode only, would I be correct in assuming that this assembly would work "out of the box" with th

[2020-01-20 13:32] phil-opp commented on #479
I just published a new post on the blog: [**Allocator Designs**](https://os.phil-opp.com/allocator-designs/).

This post explains how to implement heap allocators from scratch. It presents and discusses different allocator designs, including bump allocation, linked list allocation, and fixed-size block allocation. For each of the three designs, we will create a basic implementation that can be use

[2020-01-20 14:07] phil-opp commented on #360
With the release of the [Allocator Designs](https://os.phil-opp.com/allocator-designs/) post, we can finally tick the last missing item from this issue:

At this point, all the content from the first edition that I wanted to keep is now also available in some form in the second edition. So I think we can finally close this issue :).

[2020-01-20 14:07] #360 closed

[2020-01-20 15:14] bjorn3 commented on #360
Re "javascript emulator":

[unicorn.js](https://github.com/AlexAltea/unicorn.js) seems to support x86_64. I believe it doesn't support any devices out of the box though. Unicorn does allow you to modify all internal state, so it should be possible to emulate devices.

[2020-01-20 18:01] utterances-bot opened #720 "Comments for "https://os.phil-opp.com/allocator-designs/""
This is a general purpose comment thread for the [**Allocator Designs**](https://os.phil-opp.com/allocator-designs/) post.

[2020-01-20 18:01] senseiod commented on #720
Great!

[2020-01-20 18:46] MikailBag commented on #720
Thanks for the post! As usual, it is very interesting!

looks like typo

[2020-01-20 19:19] engstad commented on #720
The `align_up` function could be improved by removing the if-test. Notice that if addr is already aligned, then `(addr + align - 1) / align * align` equals `addr`, whereas if it is not, then it equals `(addr + align)/ align*align` or `addr/align*align + align` or `align_down(addr) + align`.
[code]
Or, if you use powers of two as argument instead:
[code]

[2020-01-20 19:32] engstad commented on #720
I should mention that when using a `BumpAllocator`, that you could have extended the functionality a bit.

First, while you normally can't delete entries from the allocator, you *can* delete the last entry. In other words, if you know what you are doing, you can allow a `reset()` function that takes the address of an allocation resetting the allocation to that point. Highly dangerous if you don't

[2020-01-22 10:12] phil-opp commented on #720
@engstad

Thanks for your comments!

Good point! I'll extend that section. The fastest variant I'm aware of is relying on the [optimized `align_offset` implementation](https://github.com/rust-lang/rust/blob/2f688ac602d50129388bb2a5519942049096cbff/src/libcore/ptr/mod.rs#L1031-L1143) of Rust's standard library:

[code]

One could also check in deallocate whether the end address of the freed allocat

[2020-01-22 11:07] phil-opp commented on #720
@engstad I prepared two updates for the post related to your comments. https://github.com/phil-opp/blog_os/pull/721 adds more variants to implement `align_up` and shortly discusses their performance. https://github.com/phil-opp/blog_os/pull/722 outlines the two bump allocator improvements you mentioned. What do you think about the changes?

[2020-01-22 11:09] phil-opp commented on #720
@senseiod Thanks!

[2020-01-22 11:11] phil-opp commented on #720
@MikailBag Thank you! Could you maybe clarify what the typo is? I don't see it right now…

[2020-01-22 11:43] phil-opp commented on #717
Thanks for reporting!

I wanted to say that invoking the `exit` system call is one option, but that there are also other options (such as and endless loop). Without the `e.g.`, it sounds like the entry point must always invoke the system call, which is not true.

Good catch! Seems like an editing error introduced in https://github.com/phil-opp/blog_os/commit/0b9ca847356c3f932e038d3b32d5e85a6e53e97

[2020-01-22 12:53] phil-opp commented on #713
You mean the issue about chainloading with GRUB?

[2020-01-22 13:02] phil-opp commented on #697
The bootloader crate creates the page tables mappings specified in the ELF file, including the given virtual address range and the access permissions. It also sets up a guard page for the stack, creates a recursive mapping or a mapping of the physical memory if desired, and marks all used physical frames in the memory map. It's probably best to just look at the code itself: https://github.com/rust

[2020-01-22 13:32] phil-opp commented on #718
Maybe https://ryan-jacobs1.github.io/2019/12/29/threads.html helps?

[2020-01-22 16:33] ethindp commented on #718
It... kinda helped, but his OS seems like its entirely different from
yours and he doesn't cover as much, so I'm still kinda lost. Perhaps
I'll focus on my filesystems stuff for now and await your post on
multitasking?

On 1/22/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-01-23 06:38] phil-opp commented on #718
I'm already working on it, but I expect that it will take some time.

[2020-01-23 11:42] mobop opened #724 "Its good but don't use third party libs. Try to solve everything by yourselfs"

[2020-01-23 12:49] AntoineSebert commented on #724
@mobop I don't get it

[2020-01-23 15:53] ethindp commented on #724
If your saying that you should never use 3rd-party libs... I have to say this is an utterly insane and ridiculous idea. Every program, excluding very specialized ones (i.e. spacecraft, aircraft, kernels in C, ...), has to use 3rd-party libraries to function. Hell,even kernels in C can use 3rd-party libraries (see LAI for example). Implementing everything manually is utterly insane and would, in co

[2020-01-23 16:49] mobop commented on #724
@ethindp

no, i am not saying that. I saying when you are learning it is necessary to understand how you solve problems by yourself.

again, this is for learning, not for making money.

[2020-01-23 17:15] AntoineSebert commented on #724
@mobop I think that we should use 3rd party libraries so we can focus on learning the important aspects of OS crafting. There is no reason not to use libraries at this point. While @ethindp is a bit too categorical in my opinion, I agree with them.

[2020-01-23 17:38] ethindp commented on #724
I know, I was a bit too categorical. And yes, this is a learning project for us who undertake it. However, libraries exist for a reason. Writing everything by hand is nice but can cause problems; for example, you may find yourself writing more libraries than OS code. Using the crates we have available to us to the fullest extent we can makes it possible for us to be more productive on our OSes and

[2020-01-24 06:18] mobop commented on #724
library is used when there is a problem and the solution is already made.
so if there is a problem, it is always better to know how to solve if by yourself. Again we are learning, not doing this to make money. It is important to understand every pieces, even though if it takes time.

[2020-01-24 07:16] AntoineSebert commented on #724
This is where we disagree. As of the last post at the moment, the dependencies list goes as follow:
- bootloader
- volatile
- spin
- x86_64
- uart_16550
- pic8259_simple
- pc-keyboard
- linked_list_allocator

Implementing all of those would require a dozen or more posts, while they have little to do with the actual creation of the OS. I understand your concern, but your advice is not applicable in

[2020-01-24 16:20] ethindp commented on #724
This is my kernels current dependency list (its a bit longer). I have included descriptions for those that are not on @AntoineSebert's list. Do you really think I should write all of this myself?

* x86_64
* bootloader
* uart_16550
* volatile
* spin
* pic8259
* pc-keyboard
* cpuio: for function-like IN/OUT instructions
* bit_field: for manipulation of bit fields on 8, 16, 32, 64, and 128-bit integ

[2020-01-24 18:46] mobop commented on #724
@ethindp,  if Don't know how to solve a problem that occurs during writing an os, Your learning is incomplete.

[2020-01-24 20:14] ethindp commented on #724
@mobop your right, its incomplete. But I'm not going to implement all of those crates when people have already done it. That's a needless waste of time. That may be acceptable in C kernels, but definitely not in Rust. Hell, even kernels written in C/D/Go/whatever have libraries for them or have libs that can easilly be ported to those languages. No one is going to rewrite the entire C standard lib

[2020-01-24 20:54] bjorn3 commented on #724
Should this series reimplement libcore? I think not. In my opinion this series should implement most things directly related to OS'es itself, while leaving everything that is not OS specific, like `lazy_static` and `once` to libraries. Also some device drivers are not worth re-implementing, as the core concepts used to talk to them (eg I/O ports, for qemu exit) are introduced elsewere and the rest

[2020-01-26 16:45] CAD97 commented on #591
You should be able to support multiple should_panic-style tests in a single executable by jumping between the panic handler and the test runner.

The basic outline of how it would work is that you store the `&[&dyn Fn()]` and an index in some global, then every time the panic handler is entered,
- increment the index
- if the array is through, exit with success code
- call the next test function
-

[2020-01-26 17:07] bjorn3 commented on #591
@CAD97 that will easily cause a stack overflow. OS'es generally use a very small stack. Sometimes as small as a single page (4096 bytes) The default for `bootloader` seems to be `512` pages (`2MiB`) though.

[2020-01-26 17:11] CAD97 commented on #591
@bjorn3 hey, it gets you more than one, at least! If you want to avoid the stack overflow, I suppose you can probably resort to manual asm to abuse the stack pointer.

Something along the lines of store the stack pointer in a global before calling a test, and restore it when entering the panic handler. This is _theoretically_ ok because the panic handler is `-> !` and thus doesn't _need_ to mainta

[2020-01-26 17:36] bjorn3 commented on #591
That would be possible. You will need `#[returns_twice]` on `setjmp` when emulating `setjmp`/`longjmp` to prevent potential miscompilation though.

[2020-01-26 23:58] amosonn commented on #720
Nice comparison, thanks!

For more on bump allocation, see this post (in Rust, even):
https://fitzgeraldnick.com/2019/11/01/always-bump-downwards.html
To summarize, his rounding method is:
`(size + align - 1) & !(align - 1)`
(which relies on `align` being a power of 2 of course); and he comments that allocation arithmetic should be checked for overflows (which is the case for all allocators), and

[2020-01-27 11:05] phil-opp commented on #724
@mobop

There is no such thing as "complete learning". There will always be details that you don't know because of the inherent complexity of computer systems, and that is perfectly okay. Nobody knows each detail of the x86 reference manual and more importantly, every undocumented detail of x86. Think of branch prediction: Even experts on the field did not know enough about the implementation of b

[2020-01-27 11:05] #724 closed

[2020-01-27 11:59] phil-opp commented on #720
@amosonn Thanks for you comment!

I already link this post in the [Dicussion section](https://os.phil-opp.com/allocator-designs/#discussion) as "can be optimized to just a few assembly operations". I deliberatly decided against bumping from the end because the intention of the post is to explain a basic implementation, not to maximally optimize it. Regarding the alignment function: I think the `al

[2020-01-27 12:16] phil-opp commented on #720
@amosonn

I filed pull requests https://github.com/phil-opp/blog_os/pull/726 and https://github.com/phil-opp/blog_os/pull/727.

[2020-01-27 12:33] phil-opp commented on #591
@CAD97 Interesting idea! I don't think that it's simple enough to be mentioned in the post, but I see no reason why it shouldn't work, as long as you can avoid a stack overflow.

[2020-01-27 15:04] mobop commented on #724
@phil-opp, thank you for your explanation.

[2020-01-27 16:28] phil-opp commented on #403
@Stuart0l Sorry for not replying earlier. Did you manage to solve your problem? From a quick look at your repo my guess is that the problem might be in your boot assembly or in the `AT(…)` declarations in [your linker script](https://github.com/Stuart0l/Small-OS-in-Rust/blob/35c4e9df41b239640355b95548fe1bc277becff7/arch/x86_64/link.ld).

[2020-01-27 16:51] Stuart0l commented on #403
Thank you Phil. I have already fixed this problem. This is how this problem arose: https://stackoverflow.com/questions/59474762/how-to-properly-link-two-object-files-without-affecting-rip-relative-addressing

[2020-01-27 18:02] amosonn commented on #720
`align_offset` does something stronger: it checks how many elements of an arbitrary size (`mem::size_of::<T>()`) should be added to align. In this case, you only need to compute this for stride 1, which devolves in that implementaion to something quite similar to the method above (but with a branch for already aligned pointers).

[2020-01-28 08:55] phil-opp commented on #720
Thanks for investigating! I'll update https://github.com/phil-opp/blog_os/pull/721 to use the `(size + align - 1) & !(align - 1)` method.

[2020-01-28 09:51] phil-opp commented on #403
@Stuart0l Thanks for the update! Good to hear that you were able to fix your problem.

[2020-01-28 15:00] Menschenkindlein commented on #627
The comment in the first code block in https://os.phil-opp.com/heap-allocation/#the-global-allocator-attribute should be `// in src/lib.rs`.

[2020-01-28 15:11] phil-opp commented on #627
@Menschenkindlein We recently moved the definition to the `allocator` module in https://github.com/phil-opp/blog_os/pull/714. Try updating your Rust nightly if you get an error.

[2020-01-28 15:30] Menschenkindlein commented on #627
I guess it doesn't need `allocator::` this way, does it?

[2020-01-28 16:11] phil-opp commented on #627
Ah, good catch! Fixed in https://github.com/phil-opp/blog_os/pull/728.

[2020-01-29 17:04] JochenLutz opened #730 "Outdated info in Introduction to Paging"
In section Paging on x86_64:

But according to the Wikipedia article (Intel 5-level paging)[https://en.wikipedia.org/wiki/Intel_5-level_paging] linked in this sentence, the Intel Ice Lake introduced in September 2019 implements 5-level paging.

[2020-01-30 11:53] Menschenkindlein commented on #720
In the code for LinkedListAllocator, `self.inner.lock()` => `self.lock()`

[2020-01-30 12:06] phil-opp commented on #720
@Menschenkindlein Thanks! Fixed in 00fedc801ede88da176ad2085977ec7eaeb672ed and 670ac60e1bf92e51e9b3667f78bf1299ea7ca17a.

[2020-01-30 14:50] Menschenkindlein opened #731 "Keep the link << All posts"
Currently, the link to the main page is hidden after you scroll down. It is a bit annoying when you want to recheck something in the previous posts and cannot just open the main page in a new tab without losing the progress in the current one.

While writing this, I realized that there are at least three ways to do it: back button, duplicate tab, and bookmarks. So, posting this issue solely to inf

[2020-01-31 10:12] phil-opp commented on #730
Thanks for reporting! I opened #732 to fix this.

[2020-01-31 11:13] #731 closed

[2020-01-31 11:13] phil-opp commented on #731
I pushed an update in e2ea963d5d8dc653c7e67cb4bd4a17a65116aac8 that should keep the link visible at all times. Does it work for you?

[2020-01-31 11:51] Menschenkindlein commented on #731
Great! Thanks! And thank you for the whole series. Can't wait for the new posts!

[2020-01-31 13:26] phil-opp commented on #731
I'm working on the next post right now :).

[2020-02-01 00:04] Bleksak commented on #720
[Bumping downwards](https://fitzgeraldnick.com/2019/11/01/always-bump-downwards.html) is faster than bumping upwards

[2020-02-03 07:12] myl7 opened #736 "Consider store `impl Iterator<Item = UnusedPhysFrame>` into `struct BootInfoFrameAllocator` in Paging Implementation"
As mentioned in the post:

I suggest to use generic type for `usable_frames` and use an unassociated fn to return the inited BootInfoFrameAllocator. So that `impl Iterator<Item = UnusedPhysFrame>` will be in the fn return type and it works.

Example:

[code]

A full example can be found at my repo following the tutorial: https://github.com/myl7/rsos/commit/ec844a86173c48dbbf66a5f52d528280cdaea549

[2020-02-03 16:01] ethindp commented on #736
This is pretty much what I wanted to do. Thanks for showing me the way -- I was goign to ask about it and then caught the flue and was "out of the count". :)

[2020-02-03 16:19] ethindp opened #737 "Switch to different locking crate (as reported by RUSTSEC-2019-0031)"
This is a pretty minor issue (compared to [RUSTSEC-2019-0013](https://rustsec.org/advisories/RUSTSEC-2019-0013), which I need to also go report to slab_allocator). However,this repository has no security policy (plus I'd report it here anyway just for public awareness).
As reported by the above-linked rust security advisory, the [Spin](https://crates.io/crates/spin) crate is no longer being active

[2020-02-05 10:33] phil-opp commented on #570
@foxcob Sorry for replying so late!

Great to hear that!

We added the `UnusedPhysFrame` type in https://github.com/rust-osdev/x86_64/pull/89 in order to make the `map_to` method safe. I agree that your examples are completely valid and that the requirement that the frame must be unused is too strict. I opened https://github.com/rust-osdev/x86_64/issues/123 for this and outlined two possible solut

[2020-02-05 10:50] phil-opp commented on #570
@andyhhp Thanks a lot for your comment and also sorry for the late reply!

Just to ensure that I understand it correctly: Such a stale mapping should only happen if change the mapping of a page table itself, e.g. if you change a level 3 entry to point to a different level 2 table, right? Changes to mappings in a level 1 table are not problematic because the page address is flushed using `invlpg`.

[2020-02-05 11:00] phil-opp commented on #570
@andyhhp I opened https://github.com/phil-opp/blog_os/pull/740 to mention this drawback on the blog. Let me know what you think!

[2020-02-05 11:06] phil-opp commented on #737
Thanks a lot for the suggestions! I wasn't aware of these crates. I especially like the Lazy and Once types of conquer-once.

Could you clarify what you mean with this? That they can't be used together with the `spin` crate? That they don't work in `no_std` projects at all?

[2020-02-05 17:14] ethindp commented on #737
Sorry if that wasn't clear, I meant that I realized, when I made my
edit, that you couldn't use conquer-once and lock_api together -- it
would be redundant.

On 2/5/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-02-05 18:03] midwinter1993 commented on #450
Hi @phil-opp, great post!

I have the same question about the claim `all registers are preserved` of the `x86-interrupt` convention as @AtsukiTak.

I tested a code snippet:
[code]
and I disassemble it:
[code]
I didn't see pushing the general registers; so, where does the magic happens?
Thank you :-P

[2020-02-05 18:06] GuillaumeDIDIER commented on #450
@midwinter1993 LLVM did the magic expected of it. It only saved registers that are clobbered by your function (hence rax). All other register are left unchanged hence there’s no need of saving and restoring them.

[2020-02-05 18:48] midwinter1993 commented on #450
@GuillaumeDIDIER
Thank you for clarifying the claim "preserves all registers". :-P

[2020-02-06 10:55] phil-opp commented on #737
Ah, thanks for clarifying!

[2020-02-07 17:20] phil-opp commented on #450
@midwinter1993 I just pushed a3eeb1ded7aab5e2b7269ec5073dac87d17ff6ac to make this more clear in the post. Thanks for asking!

[2020-02-08 19:01] tcaudrey opened #741 "layout.size and layout.align - both methods not found"
Hi - thanks for the really informative series - awesome work - thanks!!!

However (there had to be a however...)

when building post 11 allocator/linked_list.rs, I am getting these errors - both from my repository, and the same when I cloned yours:
[code]
I had another error yesterday where linked_list_allocator 0.6.6 broke things, so I had to explicitly specify version 0.6.5 to get things to comp

[2020-02-09 08:50] AntoineSebert commented on #741
I think I had the same problem last week.
As @phil-opp pointed it out to me, the nightly is unstable prone to changes.
Try to update your toolchain to see if it solves the problem.
The command for that is `rustup update`, or something like similar.

Hope it helps !

[2020-02-09 09:55] tcaudrey commented on #741
@AntoineSebert - thanks for the tip, I thought I had already tried this, however this morning, the previous errors are gone, to be replaced with this:
[code]
I get this with my own and @phil-opp   code (as before)...

Any more ideas?

[2020-02-09 10:39] bjorn3 commented on #741
`Alloc` recently got renamed to `AllocRef`.

[2020-02-09 10:39] tcaudrey commented on #741
OK - I seem to have fixed it - I put this in my Cargo.toml:

`linked_list_allocator = "=0.6.6"`

(even though linked_list_allocator 0.6.6 was giving errors a few days ago)...
and now the code compiles...

[2020-02-09 17:20] tcaudrey commented on #741
closing

[2020-02-09 17:20] #741 closed

[2020-02-09 17:21] tcaudrey commented on #741
issue was "fixed"

[2020-02-10 10:27] phil-opp commented on #741
@tcaudrey Good to hear that you got it working! The breakage in this case was caused directly by Rust, so there was no way to avoid it in the libraries unfortunately.

[2020-02-10 14:44] #717 closed

[2020-02-10 15:05] 64 commented on #737
It's true that the `spin` crate isn't actively maintained, but it's quite a small project and has been looked over by quite a few people in recent months (mostly due to it being used as part of lazy_static) so it's unlikely that it contains any similar vulnerabilities. After reporting the initial issue with RwLock I also checked the other locking structures for similar issues and found no problems

[2020-02-10 20:04] ethindp commented on #737
lock_api is a replacement of spin, from what I can see. Check out its documentation -- not the introduction page, but its [mutex](https://docs.rs/lock_api/0.3.3/lock_api/struct.Mutex.html), [reentrant mutex](https://docs.rs/lock_api/0.3.3/lock_api/struct.ReentrantMutex.html), and [reader-writer lock](https://docs.rs/lock_api/0.3.3/lock_api/struct.RwLock.html) APIs. Those are (full?) implementation

[2020-02-10 20:15] phil-opp commented on #737
The types are generic over an implementation of the [`RawMutex`](https://docs.rs/lock_api/0.3.3/lock_api/trait.RawMutex.html) trait. The crate provides no types that implement this trait, so I think you have to provide your own.

[2020-02-10 20:24] ethindp commented on #737
Its worth a try in a test app, perhaps? I do't know -- I've never used lock_api. Wish parking_lot was available for no_std, but I doubt that'll happen -- we'll need to get threads working and then have to port it.
All I'm trying to do is get rid of the warnings cargo audit is emitting when I run it on my code. I don't like vulnerability warnings. I've never implemented locking mechanisms... is it

[2020-02-11 08:52] phil-opp commented on #737
The `lock_api` documentation shows you how to create a spinlock from the provided types: <https://docs.rs/lock_api/0.3.3/lock_api/#example>. It's not that difficult, but you can still do things wrong. For example, use the wrong memory ordering or forget to use [`spin_lock_hint`](https://doc.rust-lang.org/core/sync/atomic/fn.spin_loop_hint.html) in the waiting loop (this one is even missing in the

[2020-02-12 13:04] phil-opp commented on #737
I just created a small `spinning_top` crate that provides a simple spinlock implementation on top of `lock_api`: <https://docs.rs/spinning_top/0.1.0/spinning_top/>. Feedback an reviews are appreciated! If everything looks good, I think we can migrate the blog to it.

[2020-02-13 16:04] eagle2com commented on #720
Thank you so much for these posts!
They are a real treasure trove of information presented with such clarity.
I can only imagine how much time it takes to craft the diagrams and the logical progression steps.

And all of this integrated into an actual working/testable(!) system, not just bits and pieces without the oh-so-necessary glue to make them work together.

I'm a beginner in both Rust and t

[2020-02-14 08:49] phil-opp commented on #720
@eagle2com Thank you so much for your comment! Yes, it is a lot of work to create these posts, but comments like yours make it definitely worth it :). It's great to hear that the blog is useful to you as a beginner!

[2020-02-15 14:07] benlaurie opened #742 "Keyboard handling is slightly broken"
If I rattle on the keyboard I get ControlLeft coming up regularly, even though I am far from the control keys. Upgrading pc_keyboard to 0.5.0 seems to fix it.

[2020-02-15 17:29] vgarleanu opened #743 "Weird UB and page faults when not running in release mode"
Heya, I've been toying around with my own kernel based on blog_os (https://gitlab.com/vgarleanu/vallicks) and for a good while I experienced really weird almost random page faults whenever boxing closures/data or pushing elements to vectors/hashmaps. These issues seem to be present only when running in debug mode and when running in release mode they magically go away.

Anyone has any idea as to w

[2020-02-15 20:15] archerface opened #744 "Segfault in test runner function"
As a disclaimer: I am new to Rust.

I am currently using `rustc 1.43.0-nightly (442ae7f04 2020-02-06)` for rustc.

I appear to have a segfault around my `test_runner` function. It segfaults when I run `cargo xtest` but not when I run `cargo bootimage` and run the given executable in Qemu.

Did I miss something? Is something about my version of rustc? Or is it something else entirely?

Any help or

[2020-02-16 07:38] Shuumatsu commented on #449
Thanks for your amazing work!

I have some questions.

1. as mentioned in this post,

but in the following codes,

[code]

it seems that it makes no sense storing the TSS inside GDT since we still need to manually tell the CPU to load it into the register, and it looks like we can store it in an arbitrary address.

I don't understand why we need to store the TSS inside GDT since it's just like an

[2020-02-16 13:57] 64 commented on #743
Interesting, can you provide some more information about the page faults? What instruction is faulting?

[2020-02-16 16:05] vgarleanu opened #746 "Invalid register in context_switch will cause a bunch of UB with RBP never being pushed onto the stack"
Theres a small spelling mistake at https://github.com/phil-opp/blog_os/blob/post-12-wip/src/multitasking/context_switch.rs#L53 where `rbp` is spelled as `rpb`. This will cause weird UB sometimes.

[2020-02-16 16:17] bjorn3 commented on #746
Why is that even allowed by LLVM without crash?

[2020-02-16 16:22] vgarleanu commented on #743
Its a bit hard to catch the bug happening as it literally pagefaults in random pages at random times, sometimes it doesnt even happen and the kernel runs fine. Ill try to track it down a bit more and will post and update.

[2020-02-16 16:33] vgarleanu commented on #746
No clue, i expected something like this to not compile at all, or at least throw a SIGILL. Such a obvious thing took quite a while to track down haha

[2020-02-16 17:01] phil-opp commented on #746
Oh wow, good catch!

That's a very good question! I can't wait for https://github.com/rust-lang/rfcs/pull/2850, which will hopefully fix such problems.

[2020-02-16 17:03] phil-opp commented on #743
@vgarleanu Do you think this is/was related to #746?

[2020-02-16 17:06] phil-opp commented on #746
I can imagine that! Thanks a lot for debugging and reporting this!

I fixed the code in https://github.com/phil-opp/blog_os/commit/3fc7bf6aa1fa4387cef7969ab4fd071c1e1731b3.

[2020-02-16 17:06] #746 closed

[2020-02-16 17:09] phil-opp commented on #744
Did you add a `.cargo/config` file and specified bootimage as runner there? Otherwise, `cargo xtest` tries to execute your kernel as a normal user-level program in your host OS, which commonly causes a segfault.

[2020-02-16 17:14] vgarleanu commented on #743
I wish. #746 was happening in release mode too, and when i was debugging this issue earlier i disabled the scheduler completely.

[2020-02-16 18:41] vgarleanu commented on #743
Ok it gets a bit weird. I was questioning what the differences between blog_os and my fork are, and its the PIT. Ive made the PIT tick faster. Disabling the PIT in debug mode fixes the weird page faults. I have no clue whatsoever as to why this is the case.

[2020-02-16 20:36] archerface commented on #744
@phil-opp Ah that was it. I did miss that. Does make sense that that the code would segfault when attempting to run on my host OS. Thanks for the assistance.
Also thank you for this blog. It is really cool and I am having a lot of fun working through it.

[2020-02-16 20:37] #744 closed

[2020-02-17 08:54] phil-opp commented on #744
Great to hear that, thanks!

[2020-02-17 17:40] vgarleanu commented on #743
Ill be closing this issue as its a bit unrelated to blog_os, and at the same time i can avoid this bug by only enabling the PIT to run at high frequencies in release mode binaries.

[2020-02-17 17:40] #743 closed

[2020-02-17 17:46] bjorn3 commented on #743
Is it possible that a PIT interrupt fired before the last one was completely handled?

[2020-02-17 18:57] vgarleanu commented on #743
Nope, ive actually found the cause, ill open a new issue as this is related to this project.

[2020-02-17 19:02] vgarleanu opened #753 "disable-redzone flag in the target profile never gets passed to rustc"
During the development of my kernel I've encountered several issues related to bogus memory access causing random page faults. The issue is outlined here: #743.

After a bit of debugging I have started inspecting all the verbose cargo logs and noticed that the `-Cno-redzone` flag never gets passed to rustc even tho the `disable-redzone` option was marked as true in my cargo profile.

I manually ad

[2020-02-17 19:23] andyhhp commented on #449
@Shuumatsu says:

and

This is necessary because of how the x86 architecture works.  The `ltr` (load task register) instruction takes a 16 bit segment selector, just like `mov seg, %ds` and friends.  This must
reference a TSS descriptor in the GDT.

The TSS descriptor in the GDT contains the details about the TSS in memory, including base address, limit, present, etc.

There is no way in the archi

[2020-02-17 21:20] jjuel commented on #591
![Image of Issue]
(https://github.com/jjuel/blog_os/blob/Post4_Issue/images/Mismatch_Types_Error.png)

Getting a mismatch type issue in the serial static. I was hoping for a really easy stupid fix, but it isn't there. I cannot seem to figure out what is wrong. My code "appears" to be the same, but not sure what is wrong. My code is here for transparency.

https://github.com/jjuel/blog_os/tree/Post

[2020-02-17 21:26] bjorn3 commented on #591
Rustc suggests you to remove the `;` after `Mutex::new(serial_port)`. Doing this should fix the problem.

[2020-02-17 21:34] jjuel commented on #591
@bjorn3 Thanks. I was thinking it was talking about the semi-colon after the curly brace not the one after `Mutex::new(serial_port)` so I was looking in the wrong spot.

[2020-02-18 03:09] jjuel commented on #403
I am not sure if you will be any help. I am trying this on FreeBSD and despite being on the latest nightly plus having `llvm-tools-preview`  plus all other dependencies it says that rust-lld is not found. I am wondering if it just isn't available on `x86_64-unknown-freebsd`. My googling has been unsuccessful.

[2020-02-18 10:10] phil-opp opened #754 "rust-lld is only available on tier 1 platforms"
See https://github.com/rust-lang/rust/issues/52362#issuecomment-409844742

Reported in https://github.com/phil-opp/blog_os/issues/403#issuecomment-587255050

[2020-02-18 10:12] phil-opp commented on #403
@jjuel It seems like `rust-lld` is only shipped on Tier-1 platforms: https://github.com/rust-lang/rust/issues/52362#issuecomment-409844742

Sorry for the confusion. I wasn't aware of this until now and I'm not sure what the best solution is. I think the only workaround for now is to install/build `lld` yourself and then use it instead of `rust-lld`.

I opened https://github.com/phil-opp/blog_os/is

[2020-02-18 11:14] phil-opp commented on #753
The target specification is handled directly by `rustc`, not by cargo. So it's expected that cargo does not pass the `no-redzone` flag. The relevant code in `rustc` is <https://github.com/rust-lang/rust/blob/a29424a2265411dda7d7446516ac5fd7499e2b55/src/librustc_codegen_llvm/declare.rs#L45-L47>: When no option is given, the value of the `disable_redzone` field in the target specification is used.

[2020-02-18 11:19] phil-opp commented on #753
To try whether you have a typo, execute:

[code]

You should see `"disable-redzone": true`  in the output.

[2020-02-18 12:10] phil-opp commented on #743
@vgarleanu I just tried to debug your issue based on commit 6c279afe82c04dde5faaf44e544de37eeaf5bc01 of your repo. I think that this is probably related to the thread switching code and most probably this FIXME:

[code]

If a thread::sleep "fixes" things, it's likely a time-related bug, so it makes sense that you see it in debug mode but not release mode (debug mode is slower, so 10ms is relativel

[2020-02-18 13:26] vgarleanu commented on #753
I've run the command specified and `"disable-redzone": true` is indeed in the output, however I do not understand why I have to manually add it as a extra `rustflag` manually. I've also tested this out on a completely separate system and its the same case. I'll shortly try setting up the PIT on a exact copy of blog_os and see if the same issue pops up, maybe my configuration is indeed off.

[2020-02-18 13:38] phil-opp commented on #753
You should not have to do this. If this really fixes things, there is some bug in `rustc` itself. One way to check this could be to compare the executables with and without the extra rustflag. When the target option works correctly, both files should be identical.

This would be very helpful! I'm able to reproduce the issues with your project and tried to debug it (see #743), but I can't find the

[2020-02-18 13:57] phil-opp commented on #742
Thanks for reporting! Maybe https://github.com/thejpster/pc-keyboard/commit/1b11ccc7a7251c3bb1daaf290dceb22745f3fa16 fixed this?

Updating the blog to pc_keyboard 0.5.0 seems like a good idea anyway. I would be happy to merge a pull request against the `post-07` branch if someone wants to do the update.

[2020-02-18 13:58] #730 closed

[2020-02-18 14:03] vgarleanu commented on #753
Thanks for all the help phil, it seems that after a `rustup update`, removing the `Cargo.lock` and running `cargo clean` seems to fix and make the issue completely go away. I'm not really sure what happened here. I'll be closing the issue as it is now fixed.

[2020-02-18 14:03] #753 closed

[2020-02-18 14:06] phil-opp commented on #753
Hmm, I'm able to reproduce it by passing `-d int` to QEMU. But I'm using an older version of your project.

I still think that it's worth understanding this issue as it likely indicates some fundamental bug. So let me know if it comes up again !

[2020-02-18 14:11] vgarleanu commented on #753
@phil-opp I suspect the issue is probably a caching bug with cargo. In a earlier version of my project there was a spelling mistake and `"disable-redzone"` was spelled as `"disabled-redzone"`. This was fixed as soon as I noticed it but I guess the issue persisted anyway until I force cleaned all the project files.

[2020-02-18 14:15] phil-opp commented on #753
Ah, that could be the reason. Albeit I'm not sure why cargo did not recompile it properly… Either way, let's hope that everything continues to work.

[2020-02-18 14:17] bjorn3 commented on #753
I don't think cargo cares about the content of the target json. Maybe open an issue?

[2020-02-18 14:20] vgarleanu commented on #753
Ill try to reproduce the issue again. If cargo indeed doesn't care about the contents Ill open a issue. Thanks a lot for all the help guys!

[2020-02-18 16:35] juju-e commented on #405
This is certainly the best tutorial about os development on the internet, thanks very much

[2020-02-18 16:52] jjuel commented on #403
@phil-opp Yeah that is what I was afraid of. I do have `lld` installed. However, the issue arises again when it tries to build `bootloader` as that depends on `rust-lld`. I guess unless this changes I will have to stick with macOS, Linux, or Windows for this tutorial and Intel architecture. 🤷

[2020-02-19 08:35] phil-opp commented on #405
@juju-e Thank you, I'm glad that you like it!

[2020-02-19 09:06] phil-opp commented on #403
@jjuel You could try to set the `RUSTFLAGS` environment variable (see https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-reads) for the build command. I think this should also apply to the bootloader build then. As an alternative to the environment variable, you can also set a `target.<triple>.rustflags` key in your `.cargo/config` (see https://doc.rus

[2020-02-19 09:30] phil-opp commented on #449
@Shuumatsu

Good idea! However, I think `u128` only has a required alignment of `8` ([playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ff4075a721a88ed3b491bc8a91132751)). A better approach would be to use a wrapper struct that is defined with a [`#[repr(align(16))]` attribute](https://doc.rust-lang.org/reference/type-layout.html#the-alignment-modifiers).

[2020-02-19 10:04] phil-opp commented on #449
@andyhhp I just realized that I never replied to your comment in https://github.com/phil-opp/blog_os/issues/449#issuecomment-558906316. I'm very sorry about that!

Aren't there specific operations to save the SSE state efficiently (xsave etc.)? What's the reason for spilling xmm registers manually via `movaps`?

Yes, of course. However, I think I still prefer a triple fault to memory corruption, a

[2020-02-19 21:29] andyhhp commented on #449
@phil-opp

No problem at all.  (I've totally never had similar cases, honest)

`(f)xsave` and friends are efficient in terms of "managing all state in a way which is convenient for context switches".  It doesn't mean "fast".  `movaps` is a 16 bytes (times 8 register = 128bytes) whereas `xsave` is ~2.6k of data on Skylake systems (with AVX512 enabled).

:smile: This is only scratching the surface..

[2020-02-20 09:00] phil-opp commented on #449
@andyhhp

I thought you were refering to context switches and saving all SSE state. For normal spilling of individual registers, `movaps` is of course the better choice.

Thank you very much for this! I learned a lot from your comments.

[2020-02-20 09:10] GuillaumeDIDIER commented on #627
How do you handle memory allocation failure gracefully in here. (If my users starts forkbombing I’d like to avoid crashing the kernel and instead tell the user nope, your fork is a spoon)

[2020-02-20 09:24] phil-opp commented on #627
Currently the only way is to use the [`try_reserve`](https://doc.rust-lang.org/alloc/vec/struct.Vec.html#method.try_reserve) method before appending to collections. I linked the method for `Vec`, but it also exists for the [other collection types](https://doc.rust-lang.org/std/?search=try_reserve). These methods were introduced with the [fallible collection allocation 1.0](https://github.com/rust-

[2020-02-20 10:20] GuillaumeDIDIER commented on #627
Going down the rabbit hole in stumbled onto https://github.com/vcombey/fallible_collections not sure if other such crate exist, but this looks like a reasonable thing to use, until hopefully the original alloc crate decides on how to play nice with people who need to handle memory allocation errors. (The ability to have the allocator specify an Error type with the default being ! would imho be ver

[2020-02-20 11:09] phil-opp commented on #627
Looks useful!

I'm not aware of any proposals to change the global allocator, but there is the [allocators working group](https://github.com/rust-lang/wg-allocators/) that works on making collections parametrizable over the separate [`Alloc`](https://doc.rust-lang.org/stable/core/alloc/trait.Alloc.html) trait. The idea is that you can write `Vec<T, MyAllocatorType>` to make the Vec instance use a

[2020-02-20 11:10] andyhhp commented on #449
@phil-opp

TBH, for a kernel, you're much better off following the Linux/Unix route and disallowing all FPU/SSE generally.  Its not useful for the majority of logic, and maintaining the function call ABI is unnecessary overhead.

There are specific areas where SSE/AVX optimised algorithms are a benefit (hashing/crypto code in particular), and they are best suited to know if they can operate with s

[2020-02-20 11:13] phil-opp commented on #449
I agree! I prefer a microkernel-like design where almost everything happens in userspace anyway, so the kernel should not do any complex calculations that would profit from SSE/AVX.

[2020-02-21 15:53] n-osborne commented on #627
Hello. First, thank you for this amazing tutorial. I really enjoy it.

I do have a build error when using the linked-list-allocator:

[code]

It seems that `alloc` does not have `AllocRef` module any more.

[2020-02-21 16:11] phil-opp commented on #627
@n-osborne Thanks! The `AllocRef` trait was renamed from `Alloc` recently. Try updating your nightly Rust version to resolve the error.

[2020-02-21 16:35] n-osborne commented on #627
@phil-opp Thanks, it works like a charm.

[2020-02-23 02:25] RKennedy9064 commented on #742
@phil-opp I added a PR to update the pc-keyboard crate. Let me know what you think when you get a chance.

[2020-02-23 13:36] benlaurie commented on #742
PR is #756 - thanks @RKennedy9064!

[2020-02-23 22:00] camorimd commented on #405
@phil-opp Thanks for this amazing blog!

[2020-02-24 14:19] phil-opp commented on #405
@camorimd You're welcome, thanks for your comment!

[2020-02-24 16:45] longwusha opened #757 "In order to build an operating system using the stable channel rust, what problems need to be solved?"
All the operating system articles about rust you have seen so far are compiled using nightly channel rust.

This works very well at present, and the articles you write are also very interesting and easy to understand. This has provided us with a lot of help in learning about operating system knowledge. I am very grateful for this.

But building a new operating system with the stable channel rust s

[2020-02-24 17:20] bjorn3 commented on #757
A probably incomplete list of noghtly only features currently being used:

* [ ] Inline asm (https://github.com/rust-lang/rfcs/pull/2850)
* [ ] Custom target specifications
* [ ] `#![feature(custom_test_frameworks)]`
* [ ] `extern "x86-interrupt" fn`
* [ ] `#![feature(alloc_error_handler)]`

[2020-02-24 19:59] AntoineSebert commented on #757
In my lib.rs file, I also have the following:
- #![feature(const_fn)]
- #![feature(core_intrinsics)]
- #![feature(custom_test_frameworks)]
- #![feature(trait_alias)]
- #![feature(alloc_layout_extra)]
- #![feature(const_in_array_repeat_expressions)]

But since I tried to extend the OS's features a bit, a couple might not be part of the original blog OS.
That seems quite a lot to be honest, I wouldn

[2020-02-25 05:14] RKennedy9064 commented on #737
@phil-opp Hey Phil, I was looking into [once_cell](https://github.com/matklad/once_cell) as a potential replacement for lazy_static when I saw this issue. It turns out once_cell doesn't have `#[no_std]` support, but the developer had some insight into a potential solution for a replacement. It seemed pretty interesting and similar to your approach for `spinning_top`.

I figured I'd play around wit

[2020-02-25 09:49] phil-opp commented on #757
Many of these features could be replaced by some stable features, but it would be cumbersome. For example, inline assembly can be replaced by using an external assembler, but this adds another compilation dependency and probably results in slower code (since the compile can't optimize external assembly).

The two blockers (i.e. features that are strictly necessary) of the mentioned features are in

[2020-02-25 12:00] phil-opp commented on #737
Thanks for the pointer!

Have you tried the [`conquer_once`](https://docs.rs/conquer-once/0.2.0/conquer_once/) crate? It seems like it solves a similar problem and as far as I know it also has no_std support.

[2020-02-25 20:15] RKennedy9064 commented on #737
I actually wasn't aware of this crate. Seems pretty promising so far. I'll test it out along with `spinning_top` instead of `lazy_static` and `spin`.

[2020-02-28 17:48] Bleksak commented on #405
Hi, thanks for the tutorial, couldn't we use the core::ptr::(read|write)_volatile for volatile reads and writes?

[2020-03-02 11:31] phil-opp commented on #405
@Bleksak Yes, we could. In fact, this is exactly what the `volatile` crate does behind the scenes. For example, see the code for the `read` method: https://docs.rs/volatile/0.2.6/src/volatile/lib.rs.html#90-93

The advantage of using the crate instead of `read_volatile`/`write_volatile` directly is that we can't accidentally forget to use a volatile operation because the crate ensures that _all_ r

[2020-03-03 07:50] sntdevco commented on #408
Was reading around the blog posts and they are fantastic! I am really looking forward to the guide about the working of the bootloader, because that's what seems arcane to me right now. I'm really waiting and checking your page everyday!

[2020-03-03 08:09] bjorn3 commented on #408
If you subscribe to https://github.com/phil-opp/blog_os/issues/479, you will get a notification every time there is a new post.

[2020-03-03 08:16] utterances-bot opened #761 "Comments for "https://os.phil-opp.com/status-update/2020-03-02/""
This is a general purpose comment thread for the [**Updates in February 2020**](https://os.phil-opp.com/status-update/2020-03-02/) post.

[2020-03-03 08:16] camorimd commented on #761
¡Great changes!

[2020-03-04 14:22] phil-opp commented on #408
@sntdevco Thanks! I'm currently busy writing new posts about async/await and threading, so I probably won't have the time for the bootloader post in the near future. But it is on my list and I try my best to write it soon.

[2020-03-04 14:23] phil-opp commented on #761
@camorimd Thanks you!

[2020-03-06 05:44] pathandin opened #762 "unknown option '-n'"
How to resolve this issue.
unknown option '-n'

[2020-03-06 10:01] phil-opp commented on #762
Could you give more detail here? Which command causes this error?

[2020-03-08 23:48] ethindp commented on #736
So, looking at your code, and I'm wondering how I'd use this in a static? I'd like to adapt this to my own kernel, but I need to hold it in a static:
[code]
How would I go about making this work?

[2020-03-09 00:28] myl7 commented on #736
As Rust currently does not support to use `impl Trait` in places other than return value, in these places we should use generic type to avoid the problem. But in lazy_static block I can not see an easy way to use generic type, so maybe we can only expect Rust to support broader `impl Trait`.

[2020-03-09 00:58] ethindp commented on #736
Do I have to wait for this? Or is there some other workaround? I'm not
on any kind of schedule, so I don't mind.

On 3/8/20, myl7 <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-03-09 01:34] myl7 commented on #736
So far I have not found a solution to this (static varible typed by impl Trait). If I find it, I will post it here as fast as possible.

Maybe we can just simulate the lazy generation? Store the context required by frame generation and generate the frame one by one in method calls, other than using  `map` in `usable_frames_inner` method? I am not sure this will work. I will try it in next few days

[2020-03-27 17:11] phil-opp commented on #479
Hello everyone,

after over a month of work, I finally finished a new post for the Writing an OS in Rust blog: [**Async/Await**](https://os.phil-opp.com/async-await/).

The post explores cooperative multitasking and the async/await feature of Rust. We take a detailed look how async/await works in Rust, including the design of the Future trait, the state machine transformation, and pinning. We then

[2020-03-27 18:25] utterances-bot opened #768 "Comments for "https://os.phil-opp.com/async-await/""
This is a general purpose comment thread for the [**Async/Await**](https://os.phil-opp.com/async-await/) post.

[2020-03-27 18:25] Cerberuser commented on #768
The thing I was trying to wrap my head around for quite some time, thanks for so detailed explanation!

Two minor points:
1. The following code in `run_ready_tasks`:
[code]
 \- why not use the [Entry API](https://doc.rust-lang.org/std/collections/struct.BTreeMap.html#method.entry) instead?
2. "it's both simpler and safer to instead implement the Arc-based Wake trait" - the link on "Wake" leads to

[2020-03-27 18:40] jounathaen commented on #768
The statemachine in https://os.phil-opp.com/async-await/#the-async-await-pattern
[code]
Contains the state `ExampleStateMachine::WaitingOnFooTxt` twice. Should probably be `ExampleStateMachine::WaitingOnBarTxt` :wink:

[2020-03-27 19:16] Lokathor commented on #386
Infinite `loop` with no side effect is UB because of LLVM problems.

there is a -Z flag to fix this, https://github.com/rust-lang/rust/pull/59546

Or you can just volatile read a local variable over and over (or any other side effect of of choice).

[2020-03-27 19:39] ethindp opened #770 "Triple fault when trying to boot kernel in Qemu; Dsound failures (possibly Windows only)"
Using qemu 4.2.0 (v4.2.0-11797-g2890edc853-dirty). Whenever I try and use `cargo xrun`, I get two things: first, dsound warnings:
[code]
And qemu almost immediately terminates. The log says:
[code]
If I understand this correctly, the processor hits Invalid Opcode, then two General Protection Faults, then Double Fault, then triple fault. If CR2 is to be believed, these occur at memory address 00000

[2020-03-28 08:51] senseiod commented on #768
Excellent! Looking forward to the next article

[2020-03-28 11:00] phil-opp commented on #768
@Cerberuser Great to hear that the post is useful to you!

Good question! I tried using it, but it leads to borrowing errors here because we need to borrow `self` again for the `create_waker` method. Of course we could work around this, for example by destructuring `self` and defining the `create_waker` methods in a way that it only needs access to the `wake_queue` field. However, the variant with

[2020-03-28 11:01] phil-opp commented on #768
@jounathaen Thanks for reporting and providing the fix!

[2020-03-28 11:03] phil-opp commented on #768
@senseiod I already started working on it :).

[2020-03-28 19:35] gabriel-fallen opened #776 "Broken link on https://os.phil-opp.com/async-await/"
A "projections and structural pinning" link (before the [Executors and Wakers](https://os.phil-opp.com/async-await/#executors-and-wakers)) points to `file:///home/philipp/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/share/doc/rust/html/std/pin/index.html#projections-and-structural-pinning`.

[2020-03-28 20:18] cdmistman opened #777 "Update dependency bootloader"

[2020-03-29 01:23] p2mate commented on #768
I'm surprised that on x86 you need to re-enable interrupts before doing a hlt. On cortex m you can do:
cortex_m::interrupt::free(|_| {
       if self.wake_queue.is_empty() {
              cortex_m::asm::wfi()
        }
})

So the CPU will wake from wfi even with the interrupts disabled. Ofcourse the interrupt handler will only be executed when the interrupts are re-enabled.

[2020-03-29 08:19] TheDrone7 commented on #405
Hello, this is a very nicely explained tutorial series. But, I kept running into an issue on the vga_buffer. There are no errors during compile time, but after completing this section - https://os.phil-opp.com/vga-text-mode/#formatting-macros, it prints `Hello` and then restarts in the output. And it happens over and over again. Any suggestions as to why this could be happening.

I did have some s

[2020-03-29 10:32] phil-opp commented on #768
@p2mate Yeah, I think the approach of ARM is definitely better. As far as I know, there is no equivalent to the `wfi` instruction on `x86` unfortunately.

[2020-03-29 10:34] #776 closed

[2020-03-29 10:34] phil-opp commented on #776
Whoops, seems like I linked to my local docs. Fixed in 0512a65c4247f85fa772a68c3800a6c69402cb57, thanks for reporting!

[2020-03-29 10:44] phil-opp commented on #405
@TheDrone7 Do you have your code online somewhere so that I can take a look? What you're experiencing is a so called _triple fault_, which happens when the CPU throws an exception that is not handled by the kernel.

My guess is that you might have forgotten to disable the `mmx` and `sse` features in your target configuration (see https://os.phil-opp.com/minimal-rust-kernel/#target-specification).

[2020-03-29 11:12] TheDrone7 commented on #405
As I said, I copied the exact code from the repository.

[2020-03-29 11:43] TheDrone7 commented on #405
To be exact, I copied the vga_buffer.rs file only. But the main.rs file didn't have any changes except for the `println!()`s and it was working fine after the kernel setup. Also, I verified and I have already disabled `sse` as well as `mmx`.

[2020-03-29 11:52] Bleksak commented on #405
@TheDrone7 Do you have a loop {} at the end of your main() function ? Haven't you enabled interrupts by mistake?

[2020-03-29 11:56] TheDrone7 commented on #405
It's a `_start()` function technically speaking, but yes, I do have it there. And no, I didn't do anything that was not a part of the tutorial.

[2020-03-29 13:06] TheDrone7 commented on #405
I am getting the following screen: -
![image](https://user-images.githubusercontent.com/38010647/77849837-25e1d880-71ec-11ea-8d37-6194e504231b.png)
and my os configuration is as follows: -
[code]

[2020-03-29 13:21] TheDrone7 commented on #405
I found a very weird solution but when I created a new project, copied the source from the old project to this new one, it worked fine. I am absolutely confused as to why this happened but it did.

[2020-03-30 12:27] phil-opp commented on #770
Have you tried other QEMU versions as well? This would help finding out whether this is a QEMU bug or a problem in your code.

[2020-03-30 14:33] francisxia719 commented on #768
thank you , it's very detailed/clear and very useful.

[2020-03-30 15:14] AlphaHot commented on #768
Thank you very much for the detailed lesson, and I look forward to continuing.

[2020-03-30 16:42] ethindp commented on #770
I just tried it with version 3.0.92 (v3.1.0-rc2-11731-ge7dfdcb196-dirty). The log has similar output:
[code]
I have no idea right now what's causing this. My initialization code for my kernel starts off like so:
[code]
I altered my memory manager -- but if that was the problem, my kernel would've printed 'Loading kernel' and then died, which isn't what's happening here -- nothing is being displaye

[2020-03-31 02:30] LordSparhawk commented on #768
There is a repetition typo:   "have to have to" in the first paragraph of
[Executors and Wakers](https://os.phil-opp.com/async-await/#executors-and-wakers)

Thanks for a fascinating article.

[2020-03-31 03:21] ZoeyR commented on #768
Isn't the uniqueness of TaskId not be guaranteed for zero-sized futures? Box would give the same address for multiple "instances" of the zero sized type

[2020-03-31 10:58] phil-opp commented on #770
Sounds like it is a problem with your code then. I'm happy to take a look at it if you have it somewhere online.

[2020-03-31 13:50] camorimd commented on #768
Great article! Thank you so much :)

[2020-03-31 15:12] ethindp commented on #770
According to GDB, its not. But my code is available at
https://github.com/ethindp/kernel

On 3/31/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-04-01 08:24] lvndry commented on #349
What's the state of this issue please ?

[2020-04-01 10:02] phil-opp commented on #770
Thanks for the link! I'm able to reproduce the error and you're correct that the error occurs in the bootloader. The problems seems to be the `rustflags = ["-C", "target-cpu=native"]` key in your `.cargo/config` file. Without it, your project boots fine. It still triple faults, but this time inside your kernel (it seems like the reason is that an non-canoncial memory address is dereferenced).

The

[2020-04-01 10:21] phil-opp commented on #768
Thank you all for the nice feedback :).

@LordSparhawk

Thanks for reporting! Fixed in b6d09c8a70711e379de0353cb87dc67781c571ff.

[2020-04-01 10:54] phil-opp commented on #768
@ZoeyR

Very good catch! While zero-sized futures are rare in practice, we should still ensure that they can be used without problems. I opened https://github.com/phil-opp/blog_os/pull/782 and https://github.com/phil-opp/blog_os/pull/783 to create task IDs using a static counter instead.

[2020-04-01 12:43] #770 closed

[2020-04-01 14:16] IsaacWoods commented on #349
@lvndry I obviously don't know what Phil is planning to do tutorial wise, but this is further along now ecosystem wise:
- We still don't have a UEFI-based solution like `bootloader` is for BIOS - I think the end-goal will still be to write one that can be used easily from something like `bootimage`, but it still needs a lot of groundwork
- The [`uefi-rs`](https://github.com/rust-osdev/uefi-rs) cra

[2020-04-01 16:04] ethindp commented on #770
Thanks!

On 4/1/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-04-01 18:34] brian-gavin commented on #591
Hi Phil, great series. I'm running into an issue when running `cargo xtest` after `cargo clean`. I get this error message at the end of building all the dependencies:

[code]

If needed, my repo can be found [here](https://github.com/brian-gavin/blog_os) if needed.

Additionally, I'm running on Ubuntu18.04 on WSL2.

[2020-04-02 08:07] phil-opp commented on #591
@brian-gavin The problem is the custom `run-command` you defined in your `Cargo.toml`. You should not hardcode the file path there because different image names are used for `cargo xtest` (to avoid rebuilding if nothing changed). Instead, you should use `"-drive", "format=raw,file={}"` and let `bootimage` replace the `{}` with the right file path. See https://github.com/rust-osdev/bootimage#config

[2020-04-02 13:43] brian-gavin commented on #591
I see, thank you!

[2020-04-04 18:46] ethindp commented on #770
OK, so still hitting this issue. The triple fault occurs when the system is printing "Loading kernel" for some reason, or at least GDB is pointing me there. I can't tell any more than that -- stepping into the code yields a lot of libcore code that I don't understand. The VGA driver seems to be causing it, though I'm not sure precisely what (it seems like its the serial port, though I don't know h

[2020-04-04 21:10] tahasi commented on #403
Running `cargo xbuild` without the explicit target parameter is failing with the message:
[code]

I've placed x86_64-blog_os.json in the root of the project and config in the .cargo directory under root. Is this an xbuild version issue or did I put those files in the wrong locations?

[2020-04-04 21:20] tahasi commented on #403
nm. `cargo xbuild` is working now w/o the explicit target. I originally copied the config from [Github](https://github.com/phil-opp/blog_os) which included
[code]

I removed that entry since it wasn't introduced in this post, retried `cargo xbuild` and it worked. Oddly, I've added it back and it continues to work. I must have unknowingly fixed a type in
[code]

[2020-04-05 08:18] adals opened #785 "zola build does not work to read offline"
hello

thank you very much.

I wanted to read your blog locally so i did
cd blog_os/blog/

then zola serve it works great but

zola build and open public/index.html  it does not work

i got something like this

<img width="864" alt="Screen Shot 2020-04-05 at 11 16 08 AM" src="https://user-images.githubusercontent.com/169691/78470056-00deef80-772f-11ea-9678-12ea899a9f0d.png">

[2020-04-05 09:20] bjorn3 commented on #785
Run for example `python3 -m http.server 8080 public` and then go to `localhost:8080`.

All resources have a path relative to the domain the page is running on rather than relative to the path of the page itself. Eg the main css is referred to as `/css/main.css`, not `main.css` on the index page and `../main.css` on for example `/freestanding-rust-binary/` and `../../main.css` on for example `/stat

[2020-04-06 11:53] phil-opp commented on #403
@tahasi Good to hear that it works now. I'm not sure what could cause an issue like this, so please let me know if something like this happens again.

[2020-04-06 11:58] phil-opp commented on #405
@TheDrone7 Thanks for the update, I'm glad that it's working now. I never had an issue like this, so please let me know if it happens again so that we can try to find the cause.

[2020-04-06 12:01] phil-opp commented on #762
Closing as inactive. I'm happy to reopen, just let me know if this issue persists.

[2020-04-06 12:01] #762 closed

[2020-04-07 09:57] phil-opp commented on #770
I just tried to debug your project. It seems like the error occurs in your kernel now. For example, it no longer triple faults when I put a `loop{}` at the start of your kmain.

Debugging your project was very difficult because I did not get any output for kprintln or panic. Therefore I can only take a guess: You don't want `target-cpu=native` for your kernel because this builds a kernel for your

[2020-04-07 13:31] ethindp commented on #770
Thanks, that worked.

On 4/7/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-04-08 22:33] Mandragorian commented on #720
Hello!

I have a question about memory alignment. When we want to allocate a memory region with a specific alignment, we might increment the starting address of a memory region, and we return that address in our `alloc` function.

Then when the `dealloc` gets called we will get that same address. Must we not, somehow, determine by how much we had to increment the start of the list node in order to

[2020-04-09 15:52] adals commented on #785
I got it

thanks for your answer

[2020-04-09 15:52] #785 closed

[2020-04-10 19:03] guswynn commented on #768
https://doc.rust-lang.org/std/future/trait.Future.html doesn't seem to suggest that when you are returning ready that you must use the waker to say you are ready.

I have found future impl's (like https://docs.rs/futures-util/0.3.4/src/futures_util/future/future/map.rs.html#42) that pass the cx down to a lower future, but don't actually call wake themselves. Are they assuming a lower future will c

[2020-04-11 12:24] phil-opp commented on #768
@guswynn

I'm not sure if I understand your question. You don't need to do anything with the waker if you're returning `Poll::Ready` because the task can continue execution in this case. It is only paused after a future returned `Poll::Pending`. In that case, the asynchronous task must wake the `Waker` to signal that the task should be continued.

Yes, exactly. Only the futures at the lowest level

[2020-04-12 11:05] deliciouslytyped opened #790 "Community?"
Do you have an IRC channel? I've seen some mentions of bugs reported over IRC but havent found anything more.

[2020-04-12 14:20] 64 commented on #790
There is a Gitter channel: https://gitter.im/phil-opp/blog_os

[2020-04-12 23:08] Lucky4Luuk commented on #713
Any update on this? I have the same problem

[2020-04-13 16:25] jerryajay commented on #386
Thank you.

[2020-04-14 06:34] utterances-bot opened #792 "Comments for "https://os.phil-opp.com/zh-CN/minimal-rust-kernel/""
This is a general purpose comment thread for the “[A Minimal Rust Kernel (zh-CN)](https://os.phil-opp.com/zh-CN/minimal-rust-kernel/)” post.

Please note that I (@phil-opp) do not speak Chinese, so please comment in English if possible.

[2020-04-14 06:34] GCYYfun commented on #792
抱歉有一个疑问、文章中"设置默认目标"的一节、最后直接使用的命令是否应该是、

[2020-04-14 07:59] phil-opp commented on #792
cc @Rustin-Liu @luojia65 Maybe you can help here?

[2020-04-14 08:11] phil-opp opened #793 "Loop {} is undefined behavior due to an LLVM bug"
Reported in https://github.com/phil-opp/blog_os/issues/386#issuecomment-605230107

[2020-04-14 08:11] phil-opp commented on #386
@Lokathor Thanks for your comment! I'm aware of that issue. Everytime I look at it it seems like it is close to being solved, so I always thinks that it's not worth it to mention it on the blog. However, since the issue now persists for multiple years, you're probably right that we should fix it on the blog too. I opened https://github.com/phil-opp/blog_os/issues/793 to track this.

[2020-04-14 08:12] phil-opp commented on #386
@jerryajay You're welcome!

[2020-04-14 08:14] phil-opp commented on #713
@Lucky4Luuk Could you clarify your problem? Are you trying to create a bootable CD image to burn it to a CD?

[2020-04-14 08:15] phil-opp commented on #790
There is no IRC channel related to this project, only the gitter channel mentioned by @64 and the comment threads at the bottom of each blog post, which map to GitHub issues.

[2020-04-14 08:25] 12101111 commented on #792
是的，应该`cargo xbuild` 而不是`cargo build`
https://os.phil-opp.com/minimal-rust-kernel/#set-a-default-target

[2020-04-14 10:52] Lucky4Luuk commented on #713
I am not having any specific problem, but I'd like more information on what he did to compile his code into an ISO (or possibly convert the bin file to an iso) and how he fixed the problem with it being stuck at stage one of the booting process. When I used qemu to turn my bin file into a vdi file for virtual box, I get the exact same problem with it being stuck at stage one of the boot process. N

[2020-04-14 12:30] phil-opp commented on #792
@luojia65 Thanks a lot for translating! Seems like this was fixed in #794.

[2020-04-14 12:31] luojia65 commented on #792
似乎已经修好了，感谢。我的repo里也得改改（回头验证一下

[2020-04-15 07:03] phil-opp commented on #713
Thanks for clarifying!

[2020-04-16 11:18] phil-opp commented on #349
I'm currently looking into adding UEFI support to the `bootloader` crate. I already managed to create a small example application using `uefi-rs` and I'm currently trying to find a common abstraction for both BIOS and UEFI booting. There are two main challenges where we will need to adjust the tutorials:

- **Text Output**: We currently use the VGA text mode for printing text, which is not support

[2020-04-16 12:28] IsaacWoods commented on #349
This is correct. Unless otherwise stated, protocols are not backed by runtime-allocated memory and so can disappear at any point after you call `ExitBootServices`. They specifically designed `EFI_GRAPHICS_OUTPUT_PROTOCOL` (GOP) with our use case in mind (not having real graphics drivers) and it's designed to supply enough information that you can write to the physical framebuffer after UEFI's invo

[2020-04-16 13:45] 64 commented on #349
I haven’t touched OSDev for a while, but my next plan was to flesh out the APIC crate, which I own (the crate is almost completely empty). I would be happy to give people maintainer access to the crate if it helps.

[2020-04-16 14:52] rpjohnst commented on #349
Another option for text output, which is supported by both UEFI and BIOS, is to write to a serial port. I've used this quite a bit in the past to avoid setting up a full pixel-based framebuffer text system. It takes very little code to set up, and QEMU can forward it directly to the host console.

[2020-04-17 14:37] helinwang commented on #508
Thanks for the article.
As you mentioned:

Why this optimization exists at all when it leads problem with exceptions or hardware interrupts? Are there situations that using red zone is absolutely safe? I thought "normal" code can have exceptions too.

[2020-04-17 14:46] bjorn3 commented on #508
When you are running in userspace, the kernel adjusts the stack pointer to take the red zone into account before calling the signal handler. The kernel itself tells the processor to switch to a different stack for the exception handler when calling the exception happened in userspace. Because this needs some extra setup, it isn't done in this OS. This means you still need to disable the red zone f

[2020-04-17 14:48] phil-opp commented on #508
For normal userspace applications this optimization is not a problem because the kernel usually switches to a completely different stack through a hardware mechanism whenever an interrupt or an exception occurs. Thus, no data of the userspace stack is overwritten, even with the red zone optimization.

[2020-04-17 15:04] phil-opp commented on #349
@IsaacWoods Thanks a lot for the explanation!

[2020-04-17 15:05] helinwang commented on #508
Got it, thanks for the explanations!

[2020-04-17 15:05] phil-opp commented on #349
@64 That would be great, thanks a lot! Let me know if I can do anything to help.

[2020-04-17 15:21] phil-opp commented on #349
@rpjohnst Yes, the serial port is a good option too. I personally like screen output more because it really feels like you're creating a completely new system, while serial output feels a bit like running a normal userspace program. Also, most computers today don't have an actual serial port anymore, so serial output is not accessible when running on real hardware.

[2020-04-17 15:47] toothbrush7777777 commented on #349
Well, not quite. Some modern PCs do still come with serial ports. A lot of ASRock's motherboards come with internal serial port connectors.
I agree that writing to a frame-buffer does seem like creating a new system much more than writing to a serial port, though I found serial ports to be quite useful for debugging even with other VMMs like VirtualBox and VMware.

[2020-04-17 16:06] phil-opp commented on #349
Interesting, I didn't know that. Still, there are many PCs and laptops without a serial port today. I fully agree that they're more useful than a framebuffer for debugging. Maybe the best approach would be to introduce both approaches (framebuffer and serial) at the beginning.

[2020-04-17 18:18] ethindp commented on #349
I don't know if this helps, but there's an MSR that allows you to get the APIC memory address without reading ACPI tables. According to Volumes 3 and 4 of the Intel SDMs, this MSR is 1Bh. Section 10.4.4 notes that bit 11 is the enable APIC bit (or as they call it, the "APIC Global Enable" flag). The manual notes that "This flag is available in the Pentium 4, Intel Xeon, and P6 family processors. I

[2020-04-18 06:15] RKennedy9064 opened #795 "Mouse Interrupt Integration"
I've been looking into integrating mouse input for my windowing library and it seems like its fairly similar to how the keyboard is setup. Would you be interested in an addendum to the post that also shows how to get mouse movement output to the screen. I'd love to help collaborate if that's something you're interested in, just let me know.

[2020-04-19 04:02] hismito commented on #768
Thanks for the great post.

In "The Problem with Self-Referential Structs"

should this address be `0x1001c` to match the diagram ?

[2020-04-19 17:17] toothbrush7777777 commented on #349
For those processors, probably. But I guess that would still depend on the firmware.

[2020-04-19 18:34] Lowentwickler commented on #720
Regarding `LinkedListAllocator`, it seems that if `align_up` will return aligned value `alloc_start`  higher than `region.start_addr()` inside `alloc_from_region`, then `alloc_start - region.start_addr()` amount of bytes will be permanently lost.

[2020-04-19 20:49] Mandragorian commented on #720
That's what I think too. If the address must be aligned, then a new block must be created when allocating, which will start at the original block's address and end before the aligned address. This means that the space between the original block's address and the aligned address must be big enough to hold a block.

Alternatively before the returned address the original address could be stored in me

[2020-04-20 00:52] cdmistman commented on #403
For anybody who struggled with the RLS issues, I've found the solution that works the best for VSCode. First, make sure that RLS is updated via `rustup`, same with the one in the VSCode extensions manager. Then, I set the following as `.vscode/settings.json`:

[code]

This seems to work, and I have autocomplete working for all of the crates

[2020-04-20 08:37] Lowentwickler commented on #720
There is no need in the new block, because the block is already there. But `alloc_start` must be moved to higher addresses  instead.

[2020-04-21 02:07] realKennyStrawn93 commented on #768
Isn’t going from cooperative multitasking to preemptive multitasking as simple and straightforward here as locking each `Task` with a `Mutex`? I mean, that’s really all threads really are: cases where each new process instance is locked down.

[2020-04-21 02:10] realKennyStrawn93 commented on #768
^ Oops, I meant adding a `MutexGuard` attribute to the `Executor` struct. Isn’t that really the only necessary step here, or is there something else?

[2020-04-21 14:09] phil-opp commented on #795
Yes, mouse input would be nice to have!

[2020-04-22 00:28] RKennedy9064 commented on #795
Awesome. I've been playing around with it and this is what I have for a rough draft if you want to test it out when you get a chance. There's probably some cleanup and optimizations that can be done.

https://gist.github.com/RKennedy9064/5bffdfba096a1c4e3a1e10c50681be72

[2020-04-22 11:41] jerryajay commented on #405
Hi Phil, I realized that the `_start` with a return type `()` also runs fine. However, it would need me to comment off the `loop{}` inside the `_start` function. There's no difference in the output of the qemu emulator. Any thoughts on its inner functioning?

[2020-04-22 11:56] phil-opp commented on #405
By returning from your `_start` function, you return back to the bootloader, which is not recommended. The implementation of the `bootloader` currently [enters an endless loop (in assembly)](https://github.com/rust-osdev/bootloader/blob/f7277d8eb965e478d828a13e802a68b0053d5979/src/main.rs#L46) in this case, so the observed behavior is the same. However, I don't recommend relying on this, as we mig

[2020-04-22 12:19] jerryajay commented on #405
Ah! Makes some sense. Would it be possible to show me some references online that leverage this concept?
As a side-note: you're blog is amazing and it has exposed me to a ton of knowledge.

[2020-04-22 12:20] jerryajay commented on #405
Hi Phil,  under the section: [volatile](https://os.phil-opp.com/vga-text-mode/#volatile), the declaration `use core::fmt::Write;` is made inside the `print_something()` function. Is there a neater way of doing this, for example, by declaring it in the beginning of the file. However, declaring it in the beginning of the _vga_buffer.rs_ file confuses the compiler with the already existing `write_byt

[2020-04-22 14:53] jerryajay commented on #403
Hi Pill, any recommendations of how to debug in QEMU? If I want to see the output of a variable I can't use print! or write! , so what's a suitable approach to debug?
I know about ASSERTS, but I'm looking for something like gdb.

[2020-04-22 15:33] bjorn3 commented on #403
https://os.phil-opp.com/set-up-gdb/ explains how to use gdb with QEMU. It is written for the first edition, but the steps shouldn't be too hard to adopt for the second edition.

[2020-04-22 16:24] jerryajay commented on #403
Ok, thanks @bjorn3 . I, somehow, couldn't access first edition from blog_os website.

[2020-04-23 08:59] phil-opp commented on #403
It's available at https://os.phil-opp.com/first-edition/. There's a link to it on the bottom of https://os.phil-opp.com/.

[2020-04-23 09:28] phil-opp commented on #795
Looks good from a first glance. I think we could create a small crate for the `Mouse` type, similar to the `pc-keyboard` crate we already use. This way, we could add mouse support to the Hardware Interrupts in just a few paragraphs.

[2020-04-23 09:49] phil-opp commented on #768
@realKennyStrawn93 I'm not quite sure what you mean with adding a `MutexGuard` to the `Executor`. Preemptive multitasking means that each task can be interrupted at arbitrary points in time, not just when it returns `Poll::Pending`. This means that a task might be paused between any two assembly instructions. Since it needs to continue exetution normally when it is resumed, the OS must ensure that

[2020-04-23 10:04] phil-opp commented on #768
@hismito Good catch! You're right that it should be 0x1001c instead of 0x1001a. Fixed in a7a57578e953c3c722b27cb55805d779f07ef7d4.

[2020-04-23 10:22] phil-opp commented on #405
Great to hear that, thanks a lot :).

Could you clarify which concept you mean?

You should be able to put the `use` statement at the beginning of the file. The error message you mentioned should only occur when you forget to add the `use` statement completely.

[2020-04-23 10:34] phil-opp opened #796 "LinkedListAllocator example leaks alignment padding"
See https://github.com/phil-opp/blog_os/issues/720#issuecomment-611228757

[2020-04-23 10:36] phil-opp commented on #720
@Mandragorian @Lowentwickler Good catch, thanks a lot for reporting! Seems like I forgot to handle this case. (I handle it [in the `linked_list_allocator` crate](https://github.com/phil-opp/linked-list-allocator/blob/92a4fe16270a495a73343d515f336e7cde69267e/src/hole.rs#L142-L150), but forgot it in the simplified example.)

Unfortunately, I don't have the time to fix it right now because it might r

[2020-04-23 11:17] phil-opp commented on #777
Thanks for opening this issue and sorry for not replying earlier. I agree that we should use the latest `bootloader` version for the blog, I just didn't have the time to do the update yet.

[2020-04-23 19:45] RKennedy9064 commented on #795
I like that idea. A lot of the initialization code is just reading and writing magic values that could be its own post. It looks like `mouse` is taken, but `pc-mouse` is open if you want to keep the name the same as `pc-keyboard`. Otherwise `ps2-mouse` is also open since it uses the ps2 port to interact with the mouse.

[2020-04-23 20:25] jerryajay commented on #405
Hi Phil, thanks. With regards to the concept, I'm thinking of "delibrately causing an exception when relying on the CPU loop{}". Anyway, never mind of this request since you have put in a lot of work already in this wonderful blog.

[2020-04-23 23:38] ethindp opened #797 "Dynamically registering IDT entries?"
Currently, the IDT data structure requires its lifetime to be static. This causes a major problem -- how do you then modify the IDT later? For example, what would I want to do if I wanted to receive interrupts from a PCI device but I only know the interrupt number when I scan the PCI bus?
I ask because this is something I'd like to do. Is there a way I can modify the IDT safely without having to r

[2020-04-24 00:26] ethindp opened #798 "Strange qemu crashes/triple faults"
So, my kernel is still triple faulting and I can't figure out why. The process is terminating for some odd reason (I can't even debug the crash because it immediately exits, and I imagine that I wouldn't be able to do that even if I didn't have -no-reboot on). The logs show:
[code]
My kmain function has been reordered a bit; the memory manager is initialized first so that I can initialize the APIC

[2020-04-24 08:42] phil-opp commented on #797
Good question! I'm not sure what's the best solution for this. Maybe using atomics for the IDT entries could work, but we should check the x86 reference manual whether something like this is allowed. It could help to look at how other projects solve this problem (e.g. the Linux kernel).

[2020-04-24 08:53] phil-opp commented on #405
Thanks for clarifying! What I meant was that with our current design, the kernel should never return to the bootloader by returning from its `_start` function. While we currently loop when the kernel returns, we might change this behavior to make it clear that the kernel has a bug. One approach for this could be to raise an [invalid opcode exception](https://wiki.osdev.org/Exceptions#Invalid_Opcod

[2020-04-24 15:44] ethindp commented on #797
The Intel manuals, volume 3A, section 6.11, says:
[code]
The AMD 64 manuals, volume 2, section 4.6.5, say:
[code]
Does this help?

[2020-04-24 15:57] phil-opp commented on #797
The question is whether it's allowed to modify the IDT at runtime without reloading it. I can't really find any information about that.

[2020-04-24 16:00] ethindp commented on #797
I can't either. I don't mind reloading it on every major set of IDT
changes, I just need some way of doing so. Right now the IDT is marked
entirely as static so I can't put it in a mutex and modify it that
way.

On 4/24/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-04-24 16:25] phil-opp commented on #797
There is a `load_unsafe` method now that accepts any lifetime: https://github.com/rust-osdev/x86_64/pull/137

An alternative solution could be to set all IDT entries to some kind of default handler that performs dynamic dispatch based on the interrupt number

[2020-04-24 16:34] ethindp commented on #797
Now that's a nice idea. An interrupt chain, maybe?

On 4/24/20, Philipp Oppermann <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-04-24 19:36] ethindp commented on #798
Update: so I've managed to track down the problem -- though I have absolutely no idea what's causing it. When the init function in memory.rs is called, GDB reports (when the hardware breakpoint is hit):
[code]
This is extremely confusing and suggests that part of the kernel is being corrupted or something. I'm using bootloader v. 0.8.9; I can't use the absolute latest version because it won't buil